interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.workspace-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982
    response:
      body:
        string: |-
          {
            "id" : "B6302F7C7B9A8982",
            "projectName" : "whispyr tests",
            "status" : "A",
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982",
              "rel" : "editWorkspaces",
              "method" : "PUT",
              "type" : "application/vnd.whispir.workspace-v1+xml,application/vnd.whispir.workspace-v1+json"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages",
              "rel" : "retrieveMessage",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages",
              "rel" : "createMessage",
              "method" : "POST",
              "type" : "application/vnd.whispir.message-v1+xml,a[...]
