interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.workspace-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/8080DE5434485ED4?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "8080DE5434485ED4",
            "projectName" : "api test",
            "projectNumber" : "42",
            "status" : "A",
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4?apikey=V4L1D4P1K3Y",
              "rel" : "editWorkspaces",
              "method" : "PUT",
              "type" : "application/vnd.whispir.workspace-v1+xml,application/vnd.whispir.workspace-v1+json"
            }, {
              "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4/messages?apikey=V4L1D4P1K3Y",
              "rel" : "retrieveMessage",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4/messages?apikey=V4L1D4P1K3Y",
              "rel" : "createMessage",
              "method" : "POST",
              "type" : "ap[...]
