interactions:
  - request:
      body: |-
        {"projectName": "whispyr tests", "status": "A"}
      headers:
        Content-Type:
          - application/vnd.whispir.workspace-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/workspaces?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "B6302F7C7B9A8982",
            "projectName" : "whispyr tests",
            "status" : "A",
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982?apikey=V4L1D4P1K3Y",
              "rel" : "editWorkspaces",
              "method" : "PUT",
              "type" : "application/vnd.whispir.workspace-v1+xml,application/vnd.whispir.workspace-v1+json"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages",
              "rel" : "retrieveMessage",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages",
              "rel" : "createMessage",
              "method" : "POST",
              "type" : "application/vnd.whispir.message-v1+xml,a[...]
