interactions:
  - request:
      body: |-
        {"projectName": "69031942a42bbe6af90aa17460e9c536", "status": "A"}
      headers:
        Content-Type:
          - application/vnd.whispir.workspace-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: POST
      uri: https://api.us.whispir.com/workspaces
    response:
      body:
        string: |-
          {
            "id" : "6DD8216F7FEAB9F6",
            "projectName" : "69031942a42bbe6af90aa17460e9c536",
            "status" : "A",
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/6DD8216F7FEAB9F6",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/6DD8216F7FEAB9F6",
              "rel" : "editWorkspaces",
              "method" : "PUT",
              "type" : "application/vnd.whispir.workspace-v1+xml,application/vnd.whispir.workspace-v1+json"
            }, {
              "uri" : "https://api.whispir.com/workspaces/6DD8216F7FEAB9F6/messages",
              "rel" : "retrieveMessage",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/6DD8216F7FEAB9F6/messages",
              "rel" : "createMessage",
              "method" : "POST",
              "type" : "application/vnd.whispir.message-v1+xml,a[...]
