interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.workspace-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces?apikey=V4L1D4P1K3Y&limit=20&offset=0
    response:
      body:
        string: |-
          {
            "workspaces" : [ {
              "id" : "8080DE5434485ED4",
              "projectName" : "api test",
              "projectNumber" : "42",
              "status" : "A",
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4?limit=20&offset=0&apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
              "id" : "82C9C5DF11C63AED",
              "projectName" : "Master",
              "projectNumber" : "",
              "status" : "A",
              "billingcostcentre" : "na",
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/82C9C5DF11C63AED?limit=20&offset=0&apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
              "id" : "C3A1B60DEED39BB3",
              "projectName" : "Sandbox",
              "projectNumber" : "",
              "status" : "A",
              "billingcostcentre" : "na",
              "link" : [ {
                "uri" : "https://[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.workspace-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "B6302F7C7B9A8982",
            "projectName" : "whispyr tests",
            "status" : "A",
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982?apikey=V4L1D4P1K3Y",
              "rel" : "editWorkspaces",
              "method" : "PUT",
              "type" : "application/vnd.whispir.workspace-v1+xml,application/vnd.whispir.workspace-v1+json"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages?apikey=V4L1D4P1K3Y",
              "rel" : "retrieveMessage",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages?apikey=V4L1D4P1K3Y",
              "rel" : "createMessage",
              "method" : "POST",
              "type" : "ap[...]
