interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.workspace-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "workspaces" : [ {
              "id" : "8080DE5434485ED4",
              "projectName" : "api test",
              "projectNumber" : "42",
              "status" : "A",
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4?apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
              "id" : "82C9C5DF11C63AED",
              "projectName" : "Master",
              "projectNumber" : "",
              "status" : "A",
              "billingcostcentre" : "na",
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/82C9C5DF11C63AED?apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
              "id" : "C3A1B60DEED39BB3",
              "projectName" : "Sandbox",
              "projectNumber" : "",
              "status" : "A",
              "billingcostcentre" : "na",
              "link" : [ {
                "uri" : "https://api.whispir.com/wo[...]
