interactions:
  - request:
      body: |-
        {"firstName": "John", "lastName": "Wick", "status": "A", "timezone": "Australia/Melbourne", "workEmailAddress1": "success+7af86737-079c-4bb5-a1c1-0d7da6ccf785@simulator.amazonses.com", "workMobilePhone1": "61423456789", "workCountry": "Australia", "messagingoptions": [{"channel": "sms", "enabled": "true", "primary": "WorkMobilePhone1"}, {"channel": "email", "enabled": "true", "primary": "WorkEmailAddress1"}, {"channel": "voice", "enabled": "true", "primary": "WorkMobilePhone1"}]}
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "type" : "PROJECT",
            "firstName" : "John",
            "lastName" : "Wick",
            "locations" : [ {
              "longitude" : 0.0,
              "latitude" : 0.0,
              "type" : "CurrentLocation"
            } ],
            "lastModifiedTime" : "2018-04-01T07:11:25+10:00",
            "status" : "A",
            "timezone" : "+10",
            "workEmailAddress1" : "success+7af86737-079c-4bb5-a1c1-0d7da6ccf785@simulator.amazonses.com",
            "workMobilePhone1" : "61423456789",
            "workCountry" : "Australia",
            "mri" : "John_Wick.1338739.whispyr_tests@Contact.us.whispir.com",
            "messagingoptions" : [ {
              "channel" : "sms",
              "primary" : "WorkMobilePhone1",
              "secondary" : "",
              "tertiary" : "",
              "enabled" : true
            }, {
              "channel" : "email",
              "primary" : "WorkEmailAddress1",
              "secondary" : "",
              "tertiary" : "",
              "enabled" : true
            }, {
              "channel" : "voice",
              "primary" : "WorkMobilePhone1",
              "secondary" : "",
              "tertiary" : "",
              "enabled" : true
            } ],
            "devices" : [ ],
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/2538F7D66792E0B7?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/2538F7D66792E0B7?apikey=V4L1D4P1K3Y",
              "rel" : "updateContact",
              "method" : "PUT",
              "type" : "application/vnd.whispir.contact-v1+json,application/vnd.whispir.contact-v1+xml"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/2538F7D66792E0B7?apikey=V4L1D4P1K3Y",
              "rel" : "deleteContact",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        Location:
          - https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/2538F7D66792E0B7?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-30.mashery.com
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/2538F7D66792E0B7?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "type" : "PROJECT",
            "firstName" : "John",
            "lastName" : "Wick",
            "locations" : [ {
   [...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/2538F7D66792E0B7?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-31.mashery.com
      status:
        code: 204
        message: No Content
version: 1
