interactions:
  - request:
      body: |-
        {"firstName": "John", "lastName": "Wick", "status": "A", "timezone": "Australia/Melbourne", "workEmailAddress1": "success+9b63592a-d0db-44a1-8e80-55b5809570c6@simulator.amazonses.com", "workMobilePhone1": "61428944322", "workCountry": "Australia", "messagingoptions": [{"channel": "sms", "enabled": "true", "primary": "WorkMobilePhone1"}, {"channel": "email", "enabled": "true", "primary": "WorkEmailAddress1"}, {"channel": "voice", "enabled": "true", "primary": "WorkMobilePhone1"}]}
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: POST
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/contacts
    response:
      body:
        string: |-
          {
            "type" : "PROJECT",
            "firstName" : "John",
            "lastName" : "Wick",
            "locations" : [ {
              "longitude" : 0.0,
              "latitude" : 0.0,
              "type" : "CurrentLocation"
            } ],
            "lastModifiedTime" : "2018-08-15T02:03:00+10:00",
            "status" : "A",
            "timezone" : "+10",
            "workEmailAddress1" : "success+9b63592a-d0db-44a1-8e80-55b5809570c6@simulator.amazonses.com",
            "workMobilePhone1" : "61428944322",
            "workCountry" : "Australia",
            "mri" : "John_Wick.3068487.whispyr_tests@Contact.us.whispir.com",
            "messagingoptions" : [ {
              "channel" : "sms",
              "primary" : "WorkMobilePhone1",
              "secondary" : "",
              "tertiary" : "",
              "enabled" : true
            }, {
              "channel" : "email",
              "primary" : "WorkEmailAddress1",
              "secondary" : "",
              "tertiary" : "",
              "enabled" : true
            }, {
              "channel" : "voice",
              "primary" : "WorkMobilePhone1",
              "secondary" : "",
              "tertiary" : "",
              "enabled" : true
            } ],
            "devices" : [ ],
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/8C4FC597B46245FA",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/8C4FC597B46245FA",
              "rel" : "updateContact",
              "method" : "PUT",
              "type" : "application/vnd.whispir.contact-v1+json,application/vnd.whispir.contact-v1+xml"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/8C4FC597B46245FA",
              "rel" : "deleteContact",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        Location:
          - https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/8C4FC597B46245FA
        x-amz-apigw-id:
          - LnyAPF_qSK4FnvQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '566'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:03:00 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 84b2bad4-9fdb-11e8-9102-2de23f44c780
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/contacts/8C4FC597B46245FA
    response:
      body:
        string: |-
          {
            "type" : "PROJECT",
            "firstName" : "John",
            "lastName" : "Wick",
      [...]
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: DELETE
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/contacts/8C4FC597B46245FA
    response:
      body:
        string: ''
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - LnyAWGTsSK4Fsog=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:03:01 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 8515e979-9fdb-11e8-8014-37224ddb08dc
      status:
        code: 204
        message: No Content
version: 1
