interactions:
  - request:
      body: |-
        {"firstName": "John", "lastName": "Wick", "status": "A", "timezone": "Australia/Melbourne", "workEmailAddress1": "success+c8b3c096-58ac-423b-8612-c22fd6480adb@simulator.amazonses.com", "workMobilePhone1": "61429272603", "workCountry": "Australia", "messagingoptions": [{"channel": "sms", "enabled": "true", "primary": "WorkMobilePhone1"}, {"channel": "email", "enabled": "true", "primary": "WorkEmailAddress1"}, {"channel": "voice", "enabled": "true", "primary": "WorkMobilePhone1"}]}
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: POST
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/contacts
    response:
      body:
        string: |-
          {
            "type" : "PROJECT",
            "firstName" : "John",
            "lastName" : "Wick",
            "locations" : [ {
              "longitude" : 0.0,
              "latitude" : 0.0,
              "type" : "CurrentLocation"
            } ],
            "lastModifiedTime" : "2018-08-15T02:08:06+10:00",
            "status" : "A",
            "timezone" : "+10",
            "workEmailAddress1" : "success+c8b3c096-58ac-423b-8612-c22fd6480adb@simulator.amazonses.com",
            "workMobilePhone1" : "61429272603",
            "workCountry" : "Australia",
            "mri" : "John_Wick.3068500.whispyr_tests@Contact.us.whispir.com",
            "messagingoptions" : [ {
              "channel" : "sms",
              "primary" : "WorkMobilePhone1",
              "secondary" : "",
              "tertiary" : "",
              "enabled" : true
            }, {
              "channel" : "email",
              "primary" : "WorkEmailAddress1",
              "secondary" : "",
              "tertiary" : "",
              "enabled" : true
            }, {
              "channel" : "voice",
              "primary" : "WorkMobilePhone1",
              "secondary" : "",
              "tertiary" : "",
              "enabled" : true
            } ],
            "devices" : [ ],
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/E7D3730364945B4B",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/E7D3730364945B4B",
              "rel" : "updateContact",
              "method" : "PUT",
              "type" : "application/vnd.whispir.contact-v1+json,application/vnd.whispir.contact-v1+xml"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/E7D3730364945B4B",
              "rel" : "deleteContact",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        Location:
          - https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/E7D3730364945B4B
        x-amz-apigw-id:
          - LnywFFKsyK4FaJQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '566'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:08:06 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 3b31eff9-9fdc-11e8-961a-4dc82b157e72
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/contacts/E7D3730364945B4B
    response:
      body:
        string: |-
          {
            "type" : "PROJECT",
            "firstName" : "John",
            "lastName" : "Wick",
      [...]
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/contacts?limit=20&offset=0
    response:
      body:
        string: |-
          {
            "contacts" : [ {
              "id" : "E7D3730364945B4B",
              "firstName" : "John",
              "lastName" : "Wick",
              "lastModifiedTime" : "2018-08-15T02:08:06+10:00",
              "status" : "A",
              "messagingoptions" : [ ],
              "devices" : [ ],
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/E7D3730364945B4B",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
           [...]
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: DELETE
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/contacts/E7D3730364945B4B
    response:
      body:
        string: ''
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - LnywxEvMyK4Fjdw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:08:11 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 3dd104d5-9fdc-11e8-9440-29f682516a40
      status:
        code: 204
        message: No Content
version: 1
