interactions:
  - request:
      body: |-
        {"firstName": "John", "lastName": "Wick", "status": "A", "timezone": "Australia/Melbourne", "workEmailAddress1": "success+374b8cd4-2b7d-4ecd-bb8f-45fb9fd78880@simulator.amazonses.com", "workMobilePhone1": "61423581835", "workCountry": "Australia", "messagingoptions": [{"channel": "sms", "enabled": "true", "primary": "WorkMobilePhone1"}, {"channel": "email", "enabled": "true", "primary": "WorkEmailAddress1"}, {"channel": "voice", "enabled": "true", "primary": "WorkMobilePhone1"}]}
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: POST
      uri: https://api.us.whispir.com/contacts
    response:
      body:
        string: |-
          {
            "type" : "COMPANY",
            "firstName" : "John",
            "lastName" : "Wick",
            "locations" : [ {
              "longitude" : 0.0,
              "latitude" : 0.0,
              "type" : "CurrentLocation"
            } ],
            "lastModifiedTime" : "2018-08-15T02:03:07+10:00",
            "status" : "A",
            "timezone" : "+10",
            "workEmailAddress1" : "success+374b8cd4-2b7d-4ecd-bb8f-45fb9fd78880@simulator.amazonses.com",
            "workMobilePhone1" : "61423581835",
            "workCountry" : "Australia",
            "mri" : "John_Wick.3068491@Contact.us.whispir.com",
            "messagingoptions" : [ {
              "channel" : "sms",
              "primary" : "WorkMobilePhone1",
              "secondary" : "",
              "tertiary" : "",
              "enabled" : true
            }, {
              "channel" : "email",
              "primary" : "WorkEmailAddress1",
              "secondary" : "",
              "tertiary" : "",
              "enabled" : true
            }, {
              "channel" : "voice",
              "primary" : "WorkMobilePhone1",
              "secondary" : "",
              "tertiary" : "",
              "enabled" : true
            } ],
            "devices" : [ ],
            "link" : [ {
              "uri" : "https://api.whispir.com/contacts/B17D9B73C9D6ABAA",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/contacts/B17D9B73C9D6ABAA",
              "rel" : "updateContact",
              "method" : "PUT",
              "type" : "application/vnd.whispir.contact-v1+json,application/vnd.whispir.contact-v1+xml"
            }, {
              "uri" : "https://api.whispir.com/contacts/B17D9B73C9D6ABAA",
              "rel" : "deleteContact",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        Location:
          - https://api.whispir.com/contacts/B17D9B73C9D6ABAA
        x-amz-apigw-id:
          - LnyBUH1dSK4FS5g=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '537'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:03:07 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 88cab4bb-9fdb-11e8-ab19-07e69564559d
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/contacts/B17D9B73C9D6ABAA
    response:
      body:
        string: |-
          {
            "type" : "COMPANY",
            "firstName" : "John",
            "lastName" : "Wick",
            "locations" : [ {
    [...]
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/contacts/B17D9B73C9D6ABAA
    response:
      body:
        string: |-
          {
            "errorSummary" : "The resource that you have requested does not exist. Please check the identifier and try again ",
            "errorText" : "Not Found",
            "link" : [ ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        x-amz-apigw-id:
          - LnyBbGW6SK4FRXA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '153'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:03:08 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 8932c530-9fdb-11e8-a4f0-f1c6c32c5a55
      status:
        code: 404
        message: Not Found
version: 1
