interactions:
  - request:
      body: |-
        {"firstName": "John", "lastName": "Wick", "status": "A", "timezone": "Australia/Melbourne", "workEmailAddress1": "success+15622a22-2938-4519-83d3-a9080da737ce@simulator.amazonses.com", "workMobilePhone1": "61422533158", "workCountry": "Australia", "messagingoptions": [{"channel": "sms", "enabled": "true", "primary": "WorkMobilePhone1"}, {"channel": "email", "enabled": "true", "primary": "WorkEmailAddress1"}, {"channel": "voice", "enabled": "true", "primary": "WorkMobilePhone1"}]}
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: POST
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/contacts
    response:
      body:
        string: |-
          {
            "type" : "PROJECT",
            "firstName" : "John",
            "lastName" : "Wick",
            "locations" : [ {
              "longitude" : 0.0,
              "latitude" : 0.0,
              "type" : "CurrentLocation"
            } ],
            "lastModifiedTime" : "2018-08-15T02:03:06+10:00",
            "status" : "A",
            "timezone" : "+10",
            "workEmailAddress1" : "success+15622a22-2938-4519-83d3-a9080da737ce@simulator.amazonses.com",
            "workMobilePhone1" : "61422533158",
            "workCountry" : "Australia",
            "mri" : "John_Wick.3068490.whispyr_tests@Contact.us.whispir.com",
            "messagingoptions" : [ {
              "channel" : "sms",
              "primary" : "WorkMobilePhone1",
              "secondary" : "",
              "tertiary" : "",
              "enabled" : true
            }, {
              "channel" : "email",
              "primary" : "WorkEmailAddress1",
              "secondary" : "",
              "tertiary" : "",
              "enabled" : true
            }, {
              "channel" : "voice",
              "primary" : "WorkMobilePhone1",
              "secondary" : "",
              "tertiary" : "",
              "enabled" : true
            } ],
            "devices" : [ ],
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/FD0B49D30A7EDAFE",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/FD0B49D30A7EDAFE",
              "rel" : "updateContact",
              "method" : "PUT",
              "type" : "application/vnd.whispir.contact-v1+json,application/vnd.whispir.contact-v1+xml"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/FD0B49D30A7EDAFE",
              "rel" : "deleteContact",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        Location:
          - https://api.whispir.com/workspaces/B6302F7C7B9A8982/contacts/FD0B49D30A7EDAFE
        x-amz-apigw-id:
          - LnyBGGHlyK4FgyQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '566'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:03:06 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 87ee5e61-9fdb-11e8-88bb-51fd9ade6749
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/contacts/FD0B49D30A7EDAFE
    response:
      body:
        string: |-
          {
            "type" : "PROJECT",
            "firstName" : "John",
            "lastName" : "Wick",
      [...]
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/contacts/FD0B49D30A7EDAFE
    response:
      body:
        string: |-
          {
            "errorSummary" : "The resource that you have requested does not exist. Please check the identifier and try again ",
            "errorText" : "Not Found",
            "link" : [ ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.contact-v1+json
        x-amz-apigw-id:
          - LnyBNGSXSK4Fi6Q=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '153'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:03:06 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 885c8981-9fdb-11e8-9762-850cc1f807b1
      status:
        code: 404
        message: Not Found
version: 1
