interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/8080DE5434485ED4/templates?apikey=V4L1D4P1K3Y&limit=20&offset=0
    response:
      body:
        string: |-
          {
            "status" : "1 to 1 of 1    ",
            "messagetemplates" : [ {
              "messageTemplateName" : "Whispyr test template",
              "messageTemplateDescription" : "Create templates test",
              "id" : "EBC0F5EBB8AA2B39",
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4/templates/EBC0F5EBB8AA2B39?limit=20&offset=0&apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            } ],
            "link" : [ ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 200
        message: OK
version: 1
