interactions:
  - request:
      body: |-
        {"messageTemplateName": "Whispyr test generic template", "messageTemplateDescription": "Create templates test", "subject": "test template", "body": "This is the body of my test SMS message", "email": {}, "voice": {}, "web": {}}
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/templates?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "messageTemplateName" : "Whispyr test generic template",
            "messageTemplateDescription" : "Create templates test",
            "subject" : "test template",
            "tags" : "",
            "dlr" : {
              "period" : "",
              "rule" : "",
              "type" : "",
              "publishToWeb" : false,
              "expiryDay" : 0,
              "expiryHour" : 0,
              "expiryMin" : 0,
              "feedIds" : "",
              "bool" : false
            },
            "body" : "This is the body of my test SMS message",
            "type" : "default",
            "email" : {
              "type" : "",
              "body" : "",
              "footer" : ""
            },
            "web" : {
              "type" : "",
              "body" : ""
            },
            "voice" : { },
            "responseTemplateId" : "7D9A8AAA54747711",
            "id" : "F0B35D18CA4984E7",
            "link" : [ {
              "uri" : "https://api.whispir.com/templates/F0B35D18CA4984E7?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/templates/F0B35D18CA4984E7?apikey=V4L1D4P1K3Y",
              "rel" : "updateTemplate",
              "method" : "PUT"
            }, {
              "uri" : "https://api.whispir.com/templates/F0B35D18CA4984E7?apikey=V4L1D4P1K3Y",
              "rel" : "deleteTemplate",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        Location:
          - https://api.whispir.com/templates/F0B35D18CA4984E7?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-31.mashery.com
      status:
        code: 201
        message: Created
version: 1
