interactions:
  - request:
      body: |-
        {"messageTemplateName": "4d51ef56-5bf6-49d9-9c9d-069f0669ba1a", "messageTemplateDescription": "Create templates test", "subject": "test template", "body": "This is the body of my test SMS message", "email": {}, "voice": {}, "web": {}}
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "messageTemplateName" : "4d51ef56-5bf6-49d9-9c9d-069f0669ba1a",
            "messageTemplateDescription" : "Create templates test",
            "subject" : "test template",
            "tags" : "",
            "dlr" : {
              "period" : "",
              "rule" : "",
              "type" : "",
              "publishToWeb" : false,
              "expiryDay" : 0,
              "expiryHour" : 0,
              "expiryMin" : 0,
              "feedIds" : "",
              "bool" : false
            },
            "body" : "This is the body of my test SMS message",
            "type" : "default",
            "email" : {
              "type" : "",
              "body" : "",
              "footer" : ""
            },
            "web" : {
              "type" : "",
              "body" : ""
            },
            "voice" : { },
            "responseTemplateId" : "7D9A8AAA54747711",
            "id" : "4FF2B63CB39E5926",
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/4FF2B63CB39E5926?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/4FF2B63CB39E5926?apikey=V4L1D4P1K3Y",
              "rel" : "updateTemplate",
              "method" : "PUT"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/4FF2B63CB39E5926?apikey=V4L1D4P1K3Y",
              "rel" : "deleteTemplate",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        Location:
          - https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/4FF2B63CB39E5926?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 201
        message: Created
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "status" : "1 to 4 of 4    ",
            "messagetemplates" : [ {
              "messageTemplateName" : "465eaa36-7d96-433a-ac95-6bdf146e162c",
              "messageTemplateDescription" : "Create templates test",
              "id" : "B7DE018B4BA8A686",
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/B7DE018B4BA8A686?apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
              "messageTemplateName" : "4d51ef56-5bf6-4[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/B7DE018B4BA8A686?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-30.mashery.com
      status:
        code: 204
        message: No Content
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/4FF2B63CB39E5926?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-30.mashery.com
      status:
        code: 204
        message: No Content
version: 1
