interactions:
  - request:
      body: |-
        {"messageTemplateName": "864a18bd-dd9b-4f3a-9302-ccad2dd0ba68", "messageTemplateDescription": "Create templates test", "subject": "test template", "body": "This is the body of my test SMS message", "email": {}, "voice": {}, "web": {}}
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: POST
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/templates
    response:
      body:
        string: |-
          {
            "messageTemplateName" : "864a18bd-dd9b-4f3a-9302-ccad2dd0ba68",
            "messageTemplateDescription" : "Create templates test",
            "subject" : "test template",
            "tags" : "",
            "dlr" : {
              "period" : "",
              "rule" : "",
              "type" : "",
              "publishToWeb" : false,
              "expiryDay" : 0,
              "expiryHour" : 0,
              "expiryMin" : 0,
              "feedIds" : "",
              "bool" : false
            },
            "body" : "This is the body of my test SMS message",
            "type" : "default",
            "email" : {
              "type" : "",
              "body" : "",
              "footer" : ""
            },
            "web" : {
              "type" : "",
              "body" : ""
            },
            "voice" : { },
            "responseTemplateId" : "7D9A8AAA54747711",
            "id" : "6F6A30261E807142",
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/6F6A30261E807142",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/6F6A30261E807142",
              "rel" : "updateTemplate",
              "method" : "PUT"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/6F6A30261E807142",
              "rel" : "deleteTemplate",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        Location:
          - https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/6F6A30261E807142
        x-amz-apigw-id:
          - LnzU5H_DyK4FQng=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '456'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:12:02 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - c7a1a0d3-9fdc-11e8-867b-17fc35912d1b
      status:
        code: 201
        message: Created
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/templates?limit=20&offset=0
    response:
      body:
        string: |-
          {
            "status" : "1 to 20 of 55    ",
            "messagetemplates" : [ {
              "messageTemplateName" : "0e700dc4-1794-46a5-b9da-3dcd6e871bd6",
              "messageTemplateDescription" : "Create templates test",
              "id" : "9757B0B0D0960D9D",
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/9757B0B0D0960D9D?limit=20&offset=0",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
              "messageTemplateName" : "13d7eb27-52b8-4b[...]
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: DELETE
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/templates/6E995DC9A9702C78
    response:
      body:
        string: ''
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - LnzXJGz-yK4FcJw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:12:17 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - d03b51cb-9fdc-11e8-8f60-57818893f913
      status:
        code: 204
        message: No Content
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: DELETE
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/templates/6F6A30261E807142
    response:
      body:
        string: ''
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - LnzZBGeUSK4FigQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:12:29 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - d7625f5f-9fdc-11e8-8655-3b328a01601b
      status:
        code: 204
        message: No Content
version: 1
