interactions:
  - request:
      body: |-
        {"messageTemplateName": "a45919e1-fa19-4b15-9ddb-df6ee9bafa6e", "messageTemplateDescription": "Create templates test", "subject": "test template", "body": "This is the body of my test SMS message", "email": {}, "voice": {}, "web": {}}
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "messageTemplateName" : "a45919e1-fa19-4b15-9ddb-df6ee9bafa6e",
            "messageTemplateDescription" : "Create templates test",
            "subject" : "test template",
            "tags" : "",
            "dlr" : {
              "period" : "",
              "rule" : "",
              "type" : "",
              "publishToWeb" : false,
              "expiryDay" : 0,
              "expiryHour" : 0,
              "expiryMin" : 0,
              "feedIds" : "",
              "bool" : false
            },
            "body" : "This is the body of my test SMS message",
            "type" : "default",
            "email" : {
              "type" : "",
              "body" : "",
              "footer" : ""
            },
            "web" : {
              "type" : "",
              "body" : ""
            },
            "voice" : { },
            "responseTemplateId" : "7D9A8AAA54747711",
            "id" : "17978AA33F6D52DE",
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/17978AA33F6D52DE?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/17978AA33F6D52DE?apikey=V4L1D4P1K3Y",
              "rel" : "updateTemplate",
              "method" : "PUT"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/17978AA33F6D52DE?apikey=V4L1D4P1K3Y",
              "rel" : "deleteTemplate",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        Location:
          - https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/17978AA33F6D52DE?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 201
        message: Created
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates?apikey=V4L1D4P1K3Y&limit=20&offset=0
    response:
      body:
        string: |-
          {
            "status" : "1 to 20 of 55    ",
            "messagetemplates" : [ {
              "messageTemplateName" : "06faa4fd-635f-4006-b401-f9f0c7606f92",
              "messageTemplateDescription" : "Create templates test",
              "id" : "53329A972E08FF01",
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/53329A972E08FF01?limit=20&offset=0&apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
              "messageTemplateName" [...]
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/05F93BC08A6DD1DA?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 204
        message: No Content
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/17978AA33F6D52DE?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 204
        message: No Content
version: 1
