interactions:
  - request:
      body: |-
        {"messageTemplateName": "4e7860ff-3376-483f-b955-8bba3e66e4fa", "messageTemplateDescription": "Create templates test", "subject": "test template", "body": "This is the body of my test SMS message", "email": {}, "voice": {}, "web": {}}
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "messageTemplateName" : "4e7860ff-3376-483f-b955-8bba3e66e4fa",
            "messageTemplateDescription" : "Create templates test",
            "subject" : "test template",
            "tags" : "",
            "dlr" : {
              "period" : "",
              "rule" : "",
              "type" : "",
              "publishToWeb" : false,
              "expiryDay" : 0,
              "expiryHour" : 0,
              "expiryMin" : 0,
              "feedIds" : "",
              "bool" : false
            },
            "body" : "This is the body of my test SMS message",
            "type" : "default",
            "email" : {
              "type" : "",
              "body" : "",
              "footer" : ""
            },
            "web" : {
              "type" : "",
              "body" : ""
            },
            "voice" : { },
            "responseTemplateId" : "7D9A8AAA54747711",
            "id" : "8B1EF283B3209FDC",
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/8B1EF283B3209FDC?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/8B1EF283B3209FDC?apikey=V4L1D4P1K3Y",
              "rel" : "updateTemplate",
              "method" : "PUT"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/8B1EF283B3209FDC?apikey=V4L1D4P1K3Y",
              "rel" : "deleteTemplate",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        Location:
          - https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/8B1EF283B3209FDC?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 201
        message: Created
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates?apikey=V4L1D4P1K3Y&limit=20&offset=0
    response:
      body:
        string: |-
          {
            "status" : "1 to 20 of 55    ",
            "messagetemplates" : [ {
              "messageTemplateName" : "04f37a9a-c790-42d2-b26a-56e0a3efc8cf",
              "messageTemplateDescription" : "Create templates test",
              "id" : "93538974BDF87DCE",
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/93538974BDF87DCE?limit=20&offset=0&apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
              "messageTemplateName" [...]
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/59F9A2A0300C03BB?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 204
        message: No Content
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.template-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/templates/8B1EF283B3209FDC?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 204
        message: No Content
version: 1
