interactions:
  - request:
      body: |-
        {"name": "1f28847ddbb9fa21164c70b3037276c3", "description": "App (1f28847ddbb9fa21164c70b3037276c3) to test whispyr apps CRUD works", "bundleId": "1", "options": {"workspaces": "B6302F7C7B9A8982", "deviceLimit": 3, "apiKey": "6fc20d0e-c2ba-4420-8e87-efa113ba164c", "clientSecret": "efb13253-4b05-4057-9ee9-0f799809d8aa"}, "gcm": {"gcmProjectId": "foobar-204e3", "gcmProjectNumber": 383181709987, "gcmApiKey": "9OO9l3ClouDm355491n94P1K3y"}, "registrationTypes": ["INVITE"]}
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/apps?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "C6920EDB40589797",
            "name" : "1f28847ddbb9fa21164c70b3037276c3",
            "description" : "App (1f28847ddbb9fa21164c70b3037276c3) to test whispyr apps CRUD works",
            "bundleId" : "1",
            "options" : {
              "apiKey" : "6fc20d0e-c2ba-4420-8e87-efa113ba164c",
              "deviceLimit" : "3",
              "workspaces" : "B6302F7C7B9A8982"
            },
            "gcm" : {
              "gcmProjectId" : "foobar-204e3",
              "gcmProjectNumber" : 383181709987,
              "gcmApiKey" : "9OO9l3ClouDm355491n94P1K3y"
            },
            "apns" : {
              "certificateDate" : "2018-04-27T22:03:40.769Z"
            },
            "apnsSandbox" : {
              "certificateDate" : "2018-04-27T22:03:40.769Z"
            },
            "registrationTypes" : [ "INVITE" ],
            "managedBySystem" : false,
            "defaultWorkspaceEnabled" : true,
            "link" : [ {
              "uri" : "https://api.whispir.com/apps/C6920EDB40589797?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/apps/C6920EDB40589797?apikey=V4L1D4P1K3Y",
              "rel" : "updateAPP",
              "method" : "PUT",
              "type" : "application/vnd.whispir.app-v1+xml,application/vnd.whispir.app-v1+json"
            }, {
              "uri" : "https://api.whispir.com/apps/C6920EDB40589797?apikey=V4L1D4P1K3Y",
              "rel" : "deleteAPP",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        Location:
          - https://api.whispir.com/apps/C6920EDB40589797?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/apps/C6920EDB40589797?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "C6920EDB40589797",
            "name" : "1f28847ddbb9fa21164c70b3037276c3",
            "description" : "App (1f28847ddbb9fa21164c70b3037276c3) to t[...]
