interactions:
  - request:
      body: |-
        {"name": "eceb29a60ce01e4de583b2e41b4b11d8", "description": "App (eceb29a60ce01e4de583b2e41b4b11d8) to test whispyr apps CRUD works", "bundleId": "1", "options": {"workspaces": "B6302F7C7B9A8982", "deviceLimit": 3, "apiKey": "12772bb3-bee4-4e9a-bc2b-2fdbe42495c3", "clientSecret": "018c6d26-4746-4fbe-80f5-88234b6466f4"}, "gcm": {"gcmProjectId": "foobar-204e3", "gcmProjectNumber": 383181709987, "gcmApiKey": "9OO9l3ClouDm355491n94P1K3y"}, "registrationTypes": ["INVITE"]}
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: POST
      uri: https://api.us.whispir.com/apps
    response:
      body:
        string: |-
          {
            "id" : "83BACBF2AEC629EA",
            "name" : "eceb29a60ce01e4de583b2e41b4b11d8",
            "description" : "App (eceb29a60ce01e4de583b2e41b4b11d8) to test whispyr apps CRUD works",
            "bundleId" : "1",
            "options" : {
              "apiKey" : "12772bb3-bee4-4e9a-bc2b-2fdbe42495c3",
              "deviceLimit" : "3",
              "workspaces" : "B6302F7C7B9A8982"
            },
            "gcm" : {
              "gcmProjectId" : "foobar-204e3",
              "gcmProjectNumber" : 383181709987,
              "gcmApiKey" : "9OO9l3ClouDm355491n94P1K3y"
            },
            "apns" : {
              "certificateDate" : "2018-08-14T15:58:29.271Z"
            },
            "apnsSandbox" : {
              "certificateDate" : "2018-08-14T15:58:29.271Z"
            },
            "registrationTypes" : [ "INVITE" ],
            "managedBySystem" : false,
            "defaultWorkspaceEnabled" : true,
            "link" : [ {
              "uri" : "https://api.whispir.com/apps/83BACBF2AEC629EA",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/apps/83BACBF2AEC629EA",
              "rel" : "updateAPP",
              "method" : "PUT",
              "type" : "application/vnd.whispir.app-v1+xml,application/vnd.whispir.app-v1+json"
            }, {
              "uri" : "https://api.whispir.com/apps/83BACBF2AEC629EA",
              "rel" : "deleteAPP",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        Location:
          - https://api.whispir.com/apps/83BACBF2AEC629EA
        x-amz-apigw-id:
          - LnxVzGJ2yK4FQng=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '562'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 15:58:29 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - e2d050d4-9fda-11e8-867b-17fc35912d1b
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/apps/83BACBF2AEC629EA
    response:
      body:
        string: |-
          {
            "id" : "83BACBF2AEC629EA",
            "name" : "eceb29a60ce01e4de583b2e41b4b11d8",
            "description" : "App (eceb29a60ce[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: DELETE
      uri: https://api.us.whispir.com/apps/83BACBF2AEC629EA
    response:
      body:
        string: ''
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - LnxWAG1TSK4FnCw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 15:58:30 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - e39994c9-9fda-11e8-baa9-d9bbe3ef21f5
      status:
        code: 204
        message: No Content
version: 1
