interactions:
  - request:
      body: |-
        {"name": "5baa9c9962fd925435995d926dc1f32b", "description": "App (5baa9c9962fd925435995d926dc1f32b) to test whispyr apps CRUD works", "bundleId": "1", "options": {"workspaces": "B6302F7C7B9A8982", "deviceLimit": 3, "apiKey": "1ae70348-eaf8-4584-9038-0bd1a8c93b2c", "clientSecret": "a01380a1-9601-4198-81b6-bf08abcadf11"}, "gcm": {"gcmProjectId": "foobar-204e3", "gcmProjectNumber": 383181709987, "gcmApiKey": "9OO9l3ClouDm355491n94P1K3y"}, "registrationTypes": ["INVITE"]}
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/apps?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "447FE5EA052C77E9",
            "name" : "5baa9c9962fd925435995d926dc1f32b",
            "description" : "App (5baa9c9962fd925435995d926dc1f32b) to test whispyr apps CRUD works",
            "bundleId" : "1",
            "options" : {
              "apiKey" : "1ae70348-eaf8-4584-9038-0bd1a8c93b2c",
              "deviceLimit" : "3",
              "workspaces" : "B6302F7C7B9A8982"
            },
            "gcm" : {
              "gcmProjectId" : "foobar-204e3",
              "gcmProjectNumber" : 383181709987,
              "gcmApiKey" : "9OO9l3ClouDm355491n94P1K3y"
            },
            "apns" : {
              "certificateDate" : "2018-04-27T22:03:43.647Z"
            },
            "apnsSandbox" : {
              "certificateDate" : "2018-04-27T22:03:43.647Z"
            },
            "registrationTypes" : [ "INVITE" ],
            "managedBySystem" : false,
            "defaultWorkspaceEnabled" : true,
            "link" : [ {
              "uri" : "https://api.whispir.com/apps/447FE5EA052C77E9?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/apps/447FE5EA052C77E9?apikey=V4L1D4P1K3Y",
              "rel" : "updateAPP",
              "method" : "PUT",
              "type" : "application/vnd.whispir.app-v1+xml,application/vnd.whispir.app-v1+json"
            }, {
              "uri" : "https://api.whispir.com/apps/447FE5EA052C77E9?apikey=V4L1D4P1K3Y",
              "rel" : "deleteAPP",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        Location:
          - https://api.whispir.com/apps/447FE5EA052C77E9?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 201
        message: Created
  - request:
      body: |-
        {"name": "5baa9c9962fd925435995d926dc1f32b updated", "description": "App (5baa9c9962fd925435995d926dc1f32b) to test whispyr apps CRUD works updated", "bundleId": "1"}
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: PUT
      uri: https://api.whispir.com/apps/447FE5EA052C77E9?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-30.mashery.com
      status:
        code: 204
        message: No Content
[...]
