interactions:
  - request:
      body: |-
        {"name": "27e72c370a401e3d877c2c6c9b0e235c", "description": "App (27e72c370a401e3d877c2c6c9b0e235c) to test whispyr apps CRUD works", "bundleId": "1", "gcm": {"gcmProjectId": "foobar-204e3", "gcmProjectNumber": 383181709987, "gcmApiKey": "9OO9l3ClouDm355491n94P1K3y"}, "registrationTypes": ["INVITE"]}
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/apps?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "E1822810DC8B6952",
            "name" : "27e72c370a401e3d877c2c6c9b0e235c",
            "description" : "App (27e72c370a401e3d877c2c6c9b0e235c) to test whispyr apps CRUD works",
            "bundleId" : "1",
            "options" : {
              "apiKey" : "12c117b1-ab30-439c-9339-6ba0f5fdafe2",
              "deviceLimit" : "3",
              "contactDescriptionField" : ""
            },
            "gcm" : {
              "gcmProjectId" : "foobar-204e3",
              "gcmProjectNumber" : 383181709987,
              "gcmApiKey" : "9OO9l3ClouDm355491n94P1K3y"
            },
            "apns" : {
              "certificateDate" : "2018-04-22T10:47:58.293Z"
            },
            "apnsSandbox" : {
              "certificateDate" : "2018-04-22T10:47:58.293Z"
            },
            "registrationTypes" : [ "INVITE" ],
            "managedBySystem" : false,
            "defaultWorkspaceEnabled" : true,
            "link" : [ {
              "uri" : "https://api.whispir.com/apps/E1822810DC8B6952?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/apps/E1822810DC8B6952?apikey=V4L1D4P1K3Y",
              "rel" : "updateAPP",
              "method" : "PUT",
              "type" : "application/vnd.whispir.app-v1+xml,application/vnd.whispir.app-v1+json"
            }, {
              "uri" : "https://api.whispir.com/apps/E1822810DC8B6952?apikey=V4L1D4P1K3Y",
              "rel" : "deleteAPP",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        Location:
          - https://api.whispir.com/apps/E1822810DC8B6952?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 201
        message: Created
  - request:
      body: |-
        {"name": "27e72c370a401e3d877c2c6c9b0e235c updated", "description": "App (27e72c370a401e3d877c2c6c9b0e235c) to test whispyr apps CRUD works updated", "bundleId": "1"}
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: PUT
      uri: https://api.whispir.com/apps/E1822810DC8B6952?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-31.mashery.com
      status:
        code: 204
        message: No Content
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/apps/E1822810DC8B6952?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 204
        message: No Content
version: 1
