interactions:
  - request:
      body: |-
        {"name": "16c14c48c4c876b727955c4b8f391bde", "description": "App (16c14c48c4c876b727955c4b8f391bde) to test whispyr apps CRUD works", "bundleId": "1", "gcm": {"gcmProjectId": "foobar-204e3", "gcmProjectNumber": 383181709987, "gcmApiKey": "9OO9l3ClouDm355491n94P1K3y"}, "registrationTypes": ["INVITE"]}
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/apps?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "8AF63F925D7CAB25",
            "name" : "16c14c48c4c876b727955c4b8f391bde",
            "description" : "App (16c14c48c4c876b727955c4b8f391bde) to test whispyr apps CRUD works",
            "bundleId" : "1",
            "options" : {
              "apiKey" : "683e371a-0f4b-4bf7-ae51-b37d7b0f30a7",
              "deviceLimit" : "3",
              "contactDescriptionField" : ""
            },
            "gcm" : {
              "gcmProjectId" : "foobar-204e3",
              "gcmProjectNumber" : 383181709987,
              "gcmApiKey" : "9OO9l3ClouDm355491n94P1K3y"
            },
            "apns" : {
              "certificateDate" : "2018-04-21T14:56:23.905Z"
            },
            "apnsSandbox" : {
              "certificateDate" : "2018-04-21T14:56:23.905Z"
            },
            "registrationTypes" : [ "INVITE" ],
            "managedBySystem" : false,
            "defaultWorkspaceEnabled" : true,
            "link" : [ {
              "uri" : "https://api.whispir.com/apps/8AF63F925D7CAB25?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/apps/8AF63F925D7CAB25?apikey=V4L1D4P1K3Y",
              "rel" : "updateAPP",
              "method" : "PUT",
              "type" : "application/vnd.whispir.app-v1+xml,application/vnd.whispir.app-v1+json"
            }, {
              "uri" : "https://api.whispir.com/apps/8AF63F925D7CAB25?apikey=V4L1D4P1K3Y",
              "rel" : "deleteAPP",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        Location:
          - https://api.whispir.com/apps/8AF63F925D7CAB25?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-31.mashery.com
      status:
        code: 201
        message: Created
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/apps?apikey=V4L1D4P1K3Y&limit=20&offset=0
    response:
      body:
        string: |-
          {
            "status" : "1 to 20 of 55    ",
            "applications" : [ {
              "id" : "A166D4494C63CF22",
              "name" : "0ade8f3927b98665fa569e7b46832944",
              "description" : "App (0ade8f3927b98665fa569e7b46832944) to test whispyr apps CRUD works",
              "bundleId" : "1",
              "options" : {
                "apiKey" : "5475b94f-7cd3-49f4-8fbb-019ede94d2f4",
                "deviceLimit" : "3",
                "contactDescriptionField" : ""
              },
              "gcm" : {
                "gcmProjectId" : "fooba[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/apps/E52F1E0337178904?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 204
        message: No Content
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/apps/8AF63F925D7CAB25?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 204
        message: No Content
version: 1
