interactions:
  - request:
      body: |-
        {"name": "60ac0d9f4111fa8a8a67bfeaaef4818d", "description": "App (60ac0d9f4111fa8a8a67bfeaaef4818d) to test whispyr apps CRUD works", "bundleId": "1", "options": {"workspaces": "B6302F7C7B9A8982", "deviceLimit": 3, "apiKey": "e388f71d-3b02-4e4b-a813-18979551bc79", "clientSecret": "b4658457-a972-478d-94e7-0c0f099f1b52"}, "gcm": {"gcmProjectId": "foobar-204e3", "gcmProjectNumber": 383181709987, "gcmApiKey": "9OO9l3ClouDm355491n94P1K3y"}, "registrationTypes": ["INVITE"]}
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/apps?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "480A286DAE339C09",
            "name" : "60ac0d9f4111fa8a8a67bfeaaef4818d",
            "description" : "App (60ac0d9f4111fa8a8a67bfeaaef4818d) to test whispyr apps CRUD works",
            "bundleId" : "1",
            "options" : {
              "apiKey" : "e388f71d-3b02-4e4b-a813-18979551bc79",
              "deviceLimit" : "3",
              "workspaces" : "B6302F7C7B9A8982"
            },
            "gcm" : {
              "gcmProjectId" : "foobar-204e3",
              "gcmProjectNumber" : 383181709987,
              "gcmApiKey" : "9OO9l3ClouDm355491n94P1K3y"
            },
            "apns" : {
              "certificateDate" : "2018-04-27T22:07:35.052Z"
            },
            "apnsSandbox" : {
              "certificateDate" : "2018-04-27T22:07:35.052Z"
            },
            "registrationTypes" : [ "INVITE" ],
            "managedBySystem" : false,
            "defaultWorkspaceEnabled" : true,
            "link" : [ {
              "uri" : "https://api.whispir.com/apps/480A286DAE339C09?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/apps/480A286DAE339C09?apikey=V4L1D4P1K3Y",
              "rel" : "updateAPP",
              "method" : "PUT",
              "type" : "application/vnd.whispir.app-v1+xml,application/vnd.whispir.app-v1+json"
            }, {
              "uri" : "https://api.whispir.com/apps/480A286DAE339C09?apikey=V4L1D4P1K3Y",
              "rel" : "deleteAPP",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        Location:
          - https://api.whispir.com/apps/480A286DAE339C09?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 201
        message: Created
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/apps?apikey=V4L1D4P1K3Y&limit=20&offset=0
    response:
      body:
        string: |-
          {
            "status" : "1 to 4 of 4    ",
            "applications" : [ {
              "id" : "480A286DAE339C09",
              "name" : "60ac0d9f4111fa8a8a67bfeaaef4818d",
              "description" : "App (60ac0d9f4111fa8a8a67bfeaaef4818d) to test whispyr apps CRUD works",
              "bundleId" : "1",
              "options" : {
                "apiKey" : "e388f71d-3b02-4e4b-a813-18979551bc79",
                "deviceLimit" : "3",
                "workspaces" : "B6302F7C7B9A8982"
              },
              "gcm" : {
                "gcmProjectId" : "fo[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/apps/A8F84458EDA94B7B?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-30.mashery.com
      status:
        code: 204
        message: No Content
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/apps/480A286DAE339C09?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-30.mashery.com
      status:
        code: 204
        message: No Content
version: 1
