interactions:
  - request:
      body: |-
        {"name": "8d3e10e65c146b4a109110c10724c53a", "description": "App (8d3e10e65c146b4a109110c10724c53a) to test whispyr apps CRUD works", "bundleId": "1", "options": {"workspaces": "B6302F7C7B9A8982", "deviceLimit": 3, "apiKey": "a52842de-a44d-40b4-a366-eda9ac7b5d0f", "clientSecret": "b3385696-60f5-42c9-9d73-ecd7e9ba1041"}, "gcm": {"gcmProjectId": "foobar-204e3", "gcmProjectNumber": 383181709987, "gcmApiKey": "9OO9l3ClouDm355491n94P1K3y"}, "registrationTypes": ["INVITE"]}
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/apps?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "A6D0A9A79C4DCCA0",
            "name" : "8d3e10e65c146b4a109110c10724c53a",
            "description" : "App (8d3e10e65c146b4a109110c10724c53a) to test whispyr apps CRUD works",
            "bundleId" : "1",
            "options" : {
              "apiKey" : "a52842de-a44d-40b4-a366-eda9ac7b5d0f",
              "deviceLimit" : "3",
              "workspaces" : "B6302F7C7B9A8982"
            },
            "gcm" : {
              "gcmProjectId" : "foobar-204e3",
              "gcmProjectNumber" : 383181709987,
              "gcmApiKey" : "9OO9l3ClouDm355491n94P1K3y"
            },
            "apns" : {
              "certificateDate" : "2018-04-27T22:03:47.471Z"
            },
            "apnsSandbox" : {
              "certificateDate" : "2018-04-27T22:03:47.471Z"
            },
            "registrationTypes" : [ "INVITE" ],
            "managedBySystem" : false,
            "defaultWorkspaceEnabled" : true,
            "link" : [ {
              "uri" : "https://api.whispir.com/apps/A6D0A9A79C4DCCA0?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/apps/A6D0A9A79C4DCCA0?apikey=V4L1D4P1K3Y",
              "rel" : "updateAPP",
              "method" : "PUT",
              "type" : "application/vnd.whispir.app-v1+xml,application/vnd.whispir.app-v1+json"
            }, {
              "uri" : "https://api.whispir.com/apps/A6D0A9A79C4DCCA0?apikey=V4L1D4P1K3Y",
              "rel" : "deleteAPP",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        Location:
          - https://api.whispir.com/apps/A6D0A9A79C4DCCA0?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/apps/A6D0A9A79C4DCCA0?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-30.mashery.com
      status:
        code: 204
        message: No Content
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/apps/A6D0A9A79C4DCCA0?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "errorSummary" : "The resource that you have requested does not exist. Please check the identifier and try again ",
            "errorText" : "Not Found",
            "link" : [ ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 404
        message: Not Found
version: 1
