interactions:
  - request:
      body: |-
        {"name": "3f2176a12b2f4c3b4026345bd0bb5221", "description": "App (3f2176a12b2f4c3b4026345bd0bb5221) to test whispyr apps CRUD works", "bundleId": "1", "gcm": {"gcmProjectId": "foobar-204e3", "gcmProjectNumber": 383181709987, "gcmApiKey": "9OO9l3ClouDm355491n94P1K3y"}, "registrationTypes": ["INVITE"]}
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/apps?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "3CAD08E7E5D88CB0",
            "name" : "3f2176a12b2f4c3b4026345bd0bb5221",
            "description" : "App (3f2176a12b2f4c3b4026345bd0bb5221) to test whispyr apps CRUD works",
            "bundleId" : "1",
            "options" : {
              "apiKey" : "6c53c079-174d-43b9-8687-f6a2ef4d1174",
              "deviceLimit" : "3",
              "contactDescriptionField" : ""
            },
            "gcm" : {
              "gcmProjectId" : "foobar-204e3",
              "gcmProjectNumber" : 383181709987,
              "gcmApiKey" : "9OO9l3ClouDm355491n94P1K3y"
            },
            "apns" : {
              "certificateDate" : "2018-04-22T10:45:06.054Z"
            },
            "apnsSandbox" : {
              "certificateDate" : "2018-04-22T10:45:06.054Z"
            },
            "registrationTypes" : [ "INVITE" ],
            "managedBySystem" : false,
            "defaultWorkspaceEnabled" : true,
            "link" : [ {
              "uri" : "https://api.whispir.com/apps/3CAD08E7E5D88CB0?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/apps/3CAD08E7E5D88CB0?apikey=V4L1D4P1K3Y",
              "rel" : "updateAPP",
              "method" : "PUT",
              "type" : "application/vnd.whispir.app-v1+xml,application/vnd.whispir.app-v1+json"
            }, {
              "uri" : "https://api.whispir.com/apps/3CAD08E7E5D88CB0?apikey=V4L1D4P1K3Y",
              "rel" : "deleteAPP",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        Location:
          - https://api.whispir.com/apps/3CAD08E7E5D88CB0?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 201
        message: Created
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/apps?apikey=V4L1D4P1K3Y&limit=20&offset=0
    response:
      body:
        string: |-
          {
            "status" : "1 to 20 of 55    ",
            "applications" : [ {
              "id" : "69D057DFA22DDC51",
              "name" : "018f75deac1cd654b7a8c8e1b5d073c3",
              "description" : "App (018f75deac1cd654b7a8c8e1b5d073c3) to test whispyr apps CRUD works",
              "bundleId" : "1",
              "options" : {
                "apiKey" : "5e564c72-a95d-40a9-87d1-43ef1636f2a9",
                "deviceLimit" : "3",
                "contactDescriptionField" : ""
              },
              "gcm" : {
                "gcmProjectId" : "fooba[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/apps/74542200B772B7AE?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 204
        message: No Content
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/apps/3CAD08E7E5D88CB0?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 204
        message: No Content
version: 1
