interactions:
  - request:
      body: |-
        {"name": "35db81d5f11d1d1194acfee418d1c0d6", "description": "App (35db81d5f11d1d1194acfee418d1c0d6) to test whispyr apps CRUD works", "bundleId": "1", "gcm": {"gcmProjectId": "foobar-204e3", "gcmProjectNumber": 383181709987, "gcmApiKey": "9OO9l3ClouDm355491n94P1K3y"}, "registrationTypes": ["INVITE"]}
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/apps?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "EB8A2BE0D3A4B9DF",
            "name" : "35db81d5f11d1d1194acfee418d1c0d6",
            "description" : "App (35db81d5f11d1d1194acfee418d1c0d6) to test whispyr apps CRUD works",
            "bundleId" : "1",
            "options" : {
              "apiKey" : "7ce971bf-0543-453b-9e93-910b2393fb09",
              "deviceLimit" : "3",
              "contactDescriptionField" : ""
            },
            "gcm" : {
              "gcmProjectId" : "foobar-204e3",
              "gcmProjectNumber" : 383181709987,
              "gcmApiKey" : "9OO9l3ClouDm355491n94P1K3y"
            },
            "apns" : {
              "certificateDate" : "2018-04-21T14:58:55.015Z"
            },
            "apnsSandbox" : {
              "certificateDate" : "2018-04-21T14:58:55.015Z"
            },
            "registrationTypes" : [ "INVITE" ],
            "managedBySystem" : false,
            "defaultWorkspaceEnabled" : true,
            "link" : [ {
              "uri" : "https://api.whispir.com/apps/EB8A2BE0D3A4B9DF?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/apps/EB8A2BE0D3A4B9DF?apikey=V4L1D4P1K3Y",
              "rel" : "updateAPP",
              "method" : "PUT",
              "type" : "application/vnd.whispir.app-v1+xml,application/vnd.whispir.app-v1+json"
            }, {
              "uri" : "https://api.whispir.com/apps/EB8A2BE0D3A4B9DF?apikey=V4L1D4P1K3Y",
              "rel" : "deleteAPP",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        Location:
          - https://api.whispir.com/apps/EB8A2BE0D3A4B9DF?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-31.mashery.com
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/apps/EB8A2BE0D3A4B9DF?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "EB8A2BE0D3A4B9DF",
            "name" : "35db81d5f11d1d1194acfee418d1c0d6",
            "description" : "App (35db81d5f11d1d1194acfee418d1c0d6) to t[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/apps/EB8A2BE0D3A4B9DF?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 204
        message: No Content
version: 1
