interactions:
  - request:
      body: |-
        {"name": "cb503e05d4dab27e12038959f9fcd3d4", "description": "App (cb503e05d4dab27e12038959f9fcd3d4) to test whispyr apps CRUD works", "bundleId": "1", "gcm": {"gcmProjectId": "foobar-204e3", "gcmProjectNumber": 383181709987, "gcmApiKey": "9OO9l3ClouDm355491n94P1K3y"}, "registrationTypes": ["INVITE"]}
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/apps?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "FA1B9F834B5A6EF9",
            "name" : "cb503e05d4dab27e12038959f9fcd3d4",
            "description" : "App (cb503e05d4dab27e12038959f9fcd3d4) to test whispyr apps CRUD works",
            "bundleId" : "1",
            "options" : {
              "apiKey" : "13ec58e2-5555-494d-9f68-6de24ffd44c0",
              "deviceLimit" : "3",
              "contactDescriptionField" : ""
            },
            "gcm" : {
              "gcmProjectId" : "foobar-204e3",
              "gcmProjectNumber" : 383181709987,
              "gcmApiKey" : "9OO9l3ClouDm355491n94P1K3y"
            },
            "apns" : {
              "certificateDate" : "2018-04-22T10:42:04.892Z"
            },
            "apnsSandbox" : {
              "certificateDate" : "2018-04-22T10:42:04.892Z"
            },
            "registrationTypes" : [ "INVITE" ],
            "managedBySystem" : false,
            "defaultWorkspaceEnabled" : true,
            "link" : [ {
              "uri" : "https://api.whispir.com/apps/FA1B9F834B5A6EF9?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/apps/FA1B9F834B5A6EF9?apikey=V4L1D4P1K3Y",
              "rel" : "updateAPP",
              "method" : "PUT",
              "type" : "application/vnd.whispir.app-v1+xml,application/vnd.whispir.app-v1+json"
            }, {
              "uri" : "https://api.whispir.com/apps/FA1B9F834B5A6EF9?apikey=V4L1D4P1K3Y",
              "rel" : "deleteAPP",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        Location:
          - https://api.whispir.com/apps/FA1B9F834B5A6EF9?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-31.mashery.com
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/apps/FA1B9F834B5A6EF9?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "FA1B9F834B5A6EF9",
            "name" : "cb503e05d4dab27e12038959f9fcd3d4",
            "description" : "App (cb503e05d4dab27e12038959f9fcd3d4) to t[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/apps/FA1B9F834B5A6EF9?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-31.mashery.com
      status:
        code: 204
        message: No Content
version: 1
