interactions:
  - request:
      body: |-
        {"name": "768e5e4b7a1a620e57b31f953d2bc475", "description": "App (768e5e4b7a1a620e57b31f953d2bc475) to test whispyr apps CRUD works", "bundleId": "1", "options": {"workspaces": "B6302F7C7B9A8982", "deviceLimit": 3, "apiKey": "6746411e-d566-4e27-a28f-cc164c413100", "clientSecret": "690097ad-5b75-4c8d-9bc4-b2805e54aa5a"}, "gcm": {"gcmProjectId": "foobar-204e3", "gcmProjectNumber": 383181709987, "gcmApiKey": "9OO9l3ClouDm355491n94P1K3y"}, "registrationTypes": ["INVITE"]}
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: POST
      uri: https://api.us.whispir.com/apps
    response:
      body:
        string: |-
          {
            "id" : "0B3B06EBA8BCC88B",
            "name" : "768e5e4b7a1a620e57b31f953d2bc475",
            "description" : "App (768e5e4b7a1a620e57b31f953d2bc475) to test whispyr apps CRUD works",
            "bundleId" : "1",
            "options" : {
              "apiKey" : "6746411e-d566-4e27-a28f-cc164c413100",
              "deviceLimit" : "3",
              "workspaces" : "B6302F7C7B9A8982"
            },
            "gcm" : {
              "gcmProjectId" : "foobar-204e3",
              "gcmProjectNumber" : 383181709987,
              "gcmApiKey" : "9OO9l3ClouDm355491n94P1K3y"
            },
            "apns" : {
              "certificateDate" : "2018-08-14T14:06:07.998Z"
            },
            "apnsSandbox" : {
              "certificateDate" : "2018-08-14T14:06:07.998Z"
            },
            "registrationTypes" : [ "INVITE" ],
            "managedBySystem" : false,
            "defaultWorkspaceEnabled" : true,
            "link" : [ {
              "uri" : "https://api.whispir.com/apps/0B3B06EBA8BCC88B",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/apps/0B3B06EBA8BCC88B",
              "rel" : "updateAPP",
              "method" : "PUT",
              "type" : "application/vnd.whispir.app-v1+xml,application/vnd.whispir.app-v1+json"
            }, {
              "uri" : "https://api.whispir.com/apps/0B3B06EBA8BCC88B",
              "rel" : "deleteAPP",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        Location:
          - https://api.whispir.com/apps/0B3B06EBA8BCC88B
        x-amz-apigw-id:
          - Lng4fEu7SK4FnOg=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '564'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 14:06:07 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 30b7a81b-9fcb-11e8-9bf6-75a3d4c8a2b0
      status:
        code: 201
        message: Created
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/apps?limit=20&offset=0
    response:
      body:
        string: |-
          {
            "status" : "1 to 20 of 55    ",
            "applications" : [ {
              "id" : "845AA30B43D4C116",
              "name" : "0eb502b45573bb191d582a4154f924a2",
              "description" : "App (0eb502b45573bb191d582a4154f924a2) to test whispyr apps CRUD works",
              "bundleId" : "1",
              "options" : {
                "apiKey" : "809c6eed-88ab-473a-9e26-01f2925b73da",
                "deviceLimit" : "3",
                "workspaces" : "B6302F7C7B9A8982"
              },
              "gcm" : {
                "gcmProjectId" : "fo[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: DELETE
      uri: https://api.us.whispir.com/apps/24E42966A3824CBB
    response:
      body:
        string: ''
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - Lng_-HJeyK4FQ7A=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 14:06:55 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 4d4d7768-9fcb-11e8-be0a-efb8e1879712
      status:
        code: 204
        message: No Content
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: DELETE
      uri: https://api.us.whispir.com/apps/0B3B06EBA8BCC88B
    response:
      body:
        string: ''
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - LnhapFDfyK4FarA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 14:09:46 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - b30d497a-9fcb-11e8-a7fb-17b7998cbdb3
      status:
        code: 204
        message: No Content
version: 1
