interactions:
  - request:
      body: |-
        {"name": "7591bd9153220194b3987290e4541066", "description": "App (7591bd9153220194b3987290e4541066) to test whispyr apps CRUD works", "bundleId": "1", "options": {"workspaces": "B6302F7C7B9A8982", "deviceLimit": 3, "apiKey": "11b1f825-b8f0-4046-8035-a31572ff9b87", "clientSecret": "4936a57b-d152-414c-9c23-9e13b7356022"}, "gcm": {"gcmProjectId": "foobar-204e3", "gcmProjectNumber": 383181709987, "gcmApiKey": "9OO9l3ClouDm355491n94P1K3y"}, "registrationTypes": ["INVITE"]}
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: POST
      uri: https://api.us.whispir.com/apps
    response:
      body:
        string: |-
          {
            "id" : "9ABB64C83D4C5D49",
            "name" : "7591bd9153220194b3987290e4541066",
            "description" : "App (7591bd9153220194b3987290e4541066) to test whispyr apps CRUD works",
            "bundleId" : "1",
            "options" : {
              "apiKey" : "11b1f825-b8f0-4046-8035-a31572ff9b87",
              "deviceLimit" : "3",
              "workspaces" : "B6302F7C7B9A8982"
            },
            "gcm" : {
              "gcmProjectId" : "foobar-204e3",
              "gcmProjectNumber" : 383181709987,
              "gcmApiKey" : "9OO9l3ClouDm355491n94P1K3y"
            },
            "apns" : {
              "certificateDate" : "2018-08-14T14:05:50.689Z"
            },
            "apnsSandbox" : {
              "certificateDate" : "2018-08-14T14:05:50.689Z"
            },
            "registrationTypes" : [ "INVITE" ],
            "managedBySystem" : false,
            "defaultWorkspaceEnabled" : true,
            "link" : [ {
              "uri" : "https://api.whispir.com/apps/9ABB64C83D4C5D49",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/apps/9ABB64C83D4C5D49",
              "rel" : "updateAPP",
              "method" : "PUT",
              "type" : "application/vnd.whispir.app-v1+xml,application/vnd.whispir.app-v1+json"
            }, {
              "uri" : "https://api.whispir.com/apps/9ABB64C83D4C5D49",
              "rel" : "deleteAPP",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        Location:
          - https://api.whispir.com/apps/9ABB64C83D4C5D49
        x-amz-apigw-id:
          - Lng1xEmWSK4FnOg=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 14:05:50 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 265f579a-9fcb-11e8-9bf6-75a3d4c8a2b0
      status:
        code: 201
        message: Created
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/apps?limit=20&offset=0
    response:
      body:
        string: |-
          {
            "status" : "1 to 4 of 4    ",
            "applications" : [ {
              "id" : "9ABB64C83D4C5D49",
              "name" : "7591bd9153220194b3987290e4541066",
              "description" : "App (7591bd9153220194b3987290e4541066) to test whispyr apps CRUD works",
              "bundleId" : "1",
              "options" : {
                "apiKey" : "11b1f825-b8f0-4046-8035-a31572ff9b87",
                "deviceLimit" : "3",
                "workspaces" : "B6302F7C7B9A8982"
              },
              "gcm" : {
                "gcmProjectId" : "fo[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: DELETE
      uri: https://api.us.whispir.com/apps/6B4281250C6567A2
    response:
      body:
        string: ''
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - Lng2WGKFyK4FXWQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 14:05:54 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 2890dd43-9fcb-11e8-8f46-454f03fc0589
      status:
        code: 204
        message: No Content
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: DELETE
      uri: https://api.us.whispir.com/apps/9ABB64C83D4C5D49
    response:
      body:
        string: ''
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - Lng38H9kyK4FX3g=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 14:06:04 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 2ea89ec7-9fcb-11e8-9189-1daf62ae7bf2
      status:
        code: 204
        message: No Content
version: 1
