interactions:
  - request:
      body: |-
        {"name": "3eab92a6c9ec16668452c12bd60cd2cc", "description": "App (3eab92a6c9ec16668452c12bd60cd2cc) to test whispyr apps CRUD works", "bundleId": "1", "options": {"workspaces": "B6302F7C7B9A8982", "deviceLimit": 3, "apiKey": "09feb51c-b696-4b58-a450-b17c0f161c36", "clientSecret": "d97d9993-ae0b-4dd8-a759-590cf74d8c5e"}, "gcm": {"gcmProjectId": "foobar-204e3", "gcmProjectNumber": 383181709987, "gcmApiKey": "9OO9l3ClouDm355491n94P1K3y"}, "registrationTypes": ["INVITE"]}
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/apps?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "8FD127ACABF23498",
            "name" : "3eab92a6c9ec16668452c12bd60cd2cc",
            "description" : "App (3eab92a6c9ec16668452c12bd60cd2cc) to test whispyr apps CRUD works",
            "bundleId" : "1",
            "options" : {
              "apiKey" : "09feb51c-b696-4b58-a450-b17c0f161c36",
              "deviceLimit" : "3",
              "workspaces" : "B6302F7C7B9A8982"
            },
            "gcm" : {
              "gcmProjectId" : "foobar-204e3",
              "gcmProjectNumber" : 383181709987,
              "gcmApiKey" : "9OO9l3ClouDm355491n94P1K3y"
            },
            "apns" : {
              "certificateDate" : "2018-04-27T22:07:54.366Z"
            },
            "apnsSandbox" : {
              "certificateDate" : "2018-04-27T22:07:54.366Z"
            },
            "registrationTypes" : [ "INVITE" ],
            "managedBySystem" : false,
            "defaultWorkspaceEnabled" : true,
            "link" : [ {
              "uri" : "https://api.whispir.com/apps/8FD127ACABF23498?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/apps/8FD127ACABF23498?apikey=V4L1D4P1K3Y",
              "rel" : "updateAPP",
              "method" : "PUT",
              "type" : "application/vnd.whispir.app-v1+xml,application/vnd.whispir.app-v1+json"
            }, {
              "uri" : "https://api.whispir.com/apps/8FD127ACABF23498?apikey=V4L1D4P1K3Y",
              "rel" : "deleteAPP",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        Location:
          - https://api.whispir.com/apps/8FD127ACABF23498?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 201
        message: Created
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/apps?apikey=V4L1D4P1K3Y&limit=20&offset=0
    response:
      body:
        string: |-
          {
            "status" : "1 to 20 of 55    ",
            "applications" : [ {
              "id" : "005574B131ED6459",
              "name" : "029e93fa213db9be7edc504a22d60ab9",
              "description" : "App (029e93fa213db9be7edc504a22d60ab9) to test whispyr apps CRUD works",
              "bundleId" : "1",
              "options" : {
                "apiKey" : "fd180454-4881-4818-9144-32cecbb64af1",
                "deviceLimit" : "3",
                "workspaces" : "B6302F7C7B9A8982"
              },
              "gcm" : {
                "gcmProjectId" : "fo[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/apps/24E1308CF69571B9?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-30.mashery.com
      status:
        code: 204
        message: No Content
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.app-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/apps/8FD127ACABF23498?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 204
        message: No Content
version: 1
