interactions:
  - request:
      body: |-
        {"name": "2d73c0f9-8a6c-4cb9-97b0-7234d652cb54", "description": "452c7cc4-e511-403f-af13-65cb12837f60", "responseTemplatePatterns": {"responseTemplatePattern": [{"name": "e6b51093-c61b-45e0-b7cd-e19e6c9bd4d0", "textPrompt": "YES", "voicePrompt": "1", "spokenVoicePrompt": "to select YES", "pattern": "startswith", "colour": "#00947d"}]}}
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: POST
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/responserules
    response:
      body:
        string: |-
          {
            "id" : "C54BE8520967AFE1",
            "name" : "2d73c0f9-8a6c-4cb9-97b0-7234d652cb54",
            "description" : "452c7cc4-e511-403f-af13-65cb12837f60",
            "responseTemplatePatterns" : {
              "responseTemplatePattern" : [ {
                "name" : "e6b51093-c61b-45e0-b7cd-e19e6c9bd4d0",
                "textPrompt" : "YES",
                "voicePrompt" : "1",
                "spokenVoicePrompt" : "to select YES",
                "pattern" : "startswith",
                "colour" : "#00947d"
              } ]
            },
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/C54BE8520967AFE1",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/C54BE8520967AFE1",
              "rel" : "updateResponseRule",
              "method" : "PUT",
              "type" : "application/vnd.whispir.responserule-v1+xml,application/vnd.whispir.responserule-v1+json"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/C54BE8520967AFE1",
              "rel" : "deleteResponseRule",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        Location:
          - https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/C54BE8520967AFE1
        x-amz-apigw-id:
          - LnzLBGQtyK4FcJw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '440'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:10:59 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - a1f46511-9fdc-11e8-8f60-57818893f913
      status:
        code: 201
        message: Created
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/responserules
    response:
      body:
        string: |-
          {
            "responseRules" : [ {
              "id" : "C57DDEFD1A535F28",
              "name" : "4e93d65f-9fd8-4dd7-bbf1-ac7b0d3b8532",
              "description" : "dc75c9bf-3138-4287-803f-f04617fecc8c",
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/C57DDEFD1A535F28",
                "rel" : "self",
                "method" : "GET"
              }, {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/C57DDEFD1[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: DELETE
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/responserules/C57DDEFD1A535F28
    response:
      body:
        string: ''
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - LnzM4H2GyK4FfGw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:11:11 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - a90e2c75-9fdc-11e8-80fd-69b5e836710a
      status:
        code: 204
        message: No Content
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: DELETE
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/responserules/C54BE8520967AFE1
    response:
      body:
        string: ''
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - LnzO1EbMyK4FqRQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:11:23 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - b07c55b0-9fdc-11e8-b861-5974471a9def
      status:
        code: 204
        message: No Content
version: 1
