interactions:
  - request:
      body: |-
        {"name": "10d2a41d-7454-4de6-be64-d7cec99a37e7", "description": "0aafced6-597c-47fc-ad15-de9e829c25c4", "responseTemplatePatterns": {"responseTemplatePattern": [{"name": "72db0156-1349-4cd1-87fb-ef65033f4854", "textPrompt": "YES", "voicePrompt": "1", "spokenVoicePrompt": "to select YES", "pattern": "startswith", "colour": "#00947d"}]}}
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "FA0DD01D25156662",
            "name" : "10d2a41d-7454-4de6-be64-d7cec99a37e7",
            "description" : "0aafced6-597c-47fc-ad15-de9e829c25c4",
            "responseTemplatePatterns" : {
              "responseTemplatePattern" : [ {
                "name" : "72db0156-1349-4cd1-87fb-ef65033f4854",
                "textPrompt" : "YES",
                "voicePrompt" : "1",
                "spokenVoicePrompt" : "to select YES",
                "pattern" : "startswith",
                "colour" : "#00947d"
              } ]
            },
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/FA0DD01D25156662?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/FA0DD01D25156662?apikey=V4L1D4P1K3Y",
              "rel" : "updateResponseRule",
              "method" : "PUT",
              "type" : "application/vnd.whispir.responserule-v1+xml,application/vnd.whispir.responserule-v1+json"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/FA0DD01D25156662?apikey=V4L1D4P1K3Y",
              "rel" : "deleteResponseRule",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        Location:
          - https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/FA0DD01D25156662?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 201
        message: Created
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "responseRules" : [ {
              "id" : "FA0DD01D25156662",
              "name" : "10d2a41d-7454-4de6-be64-d7cec99a37e7",
              "description" : "0aafced6-597c-47fc-ad15-de9e829c25c4",
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/FA0DD01D25156662?apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              }, {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/resp[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/D54F44FA4D85227D?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 204
        message: No Content
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/FA0DD01D25156662?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 204
        message: No Content
version: 1
