interactions:
  - request:
      body: |-
        {"name": "5272429e-4c34-41a8-8baf-14ad231d8199", "description": "b4873998-8c70-4618-9f1a-933e94cefdd6", "responseTemplatePatterns": {"responseTemplatePattern": [{"name": "63e54e71-3540-4b7d-8743-b3af1647fe09", "textPrompt": "YES", "voicePrompt": "1", "spokenVoicePrompt": "to select YES", "pattern": "startswith", "colour": "#00947d"}]}}
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: POST
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/responserules
    response:
      body:
        string: |-
          {
            "id" : "FD3BD5625556B1C1",
            "name" : "5272429e-4c34-41a8-8baf-14ad231d8199",
            "description" : "b4873998-8c70-4618-9f1a-933e94cefdd6",
            "responseTemplatePatterns" : {
              "responseTemplatePattern" : [ {
                "name" : "63e54e71-3540-4b7d-8743-b3af1647fe09",
                "textPrompt" : "YES",
                "voicePrompt" : "1",
                "spokenVoicePrompt" : "to select YES",
                "pattern" : "startswith",
                "colour" : "#00947d"
              } ]
            },
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/FD3BD5625556B1C1",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/FD3BD5625556B1C1",
              "rel" : "updateResponseRule",
              "method" : "PUT",
              "type" : "application/vnd.whispir.responserule-v1+xml,application/vnd.whispir.responserule-v1+json"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/FD3BD5625556B1C1",
              "rel" : "deleteResponseRule",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        Location:
          - https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/FD3BD5625556B1C1
        x-amz-apigw-id:
          - LnzPDFkYSK4FrJg=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '439'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:11:25 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - b14e72d6-9fdc-11e8-a134-6139ef0761e3
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/responserules/FD3BD5625556B1C1
    response:
      body:
        string: |-
          {
            "id" : "FD3BD5625556B1C1",
            "name" : "5272429e-4c34-41a8-8baf-14ad231d81[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: DELETE
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/responserules/FD3BD5625556B1C1
    response:
      body:
        string: ''
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - LnzPHE1ByK4FnOg=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:11:25 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - b18c669f-9fdc-11e8-9bf6-75a3d4c8a2b0
      status:
        code: 204
        message: No Content
version: 1
