interactions:
  - request:
      body: |-
        {"name": "b435f44b-8e3e-4e7c-b323-cef3b0ca02cc", "description": "522e0bd4-7659-4db0-871f-3a9463a47a70", "responseTemplatePatterns": {"responseTemplatePattern": [{"name": "73489de3-d40b-4c97-93a1-5032ea85dafd", "textPrompt": "YES", "voicePrompt": "1", "spokenVoicePrompt": "to select YES", "pattern": "startswith", "colour": "#00947d"}]}}
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/responserules?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "C30B96FB1F56E6D7",
            "name" : "b435f44b-8e3e-4e7c-b323-cef3b0ca02cc",
            "description" : "522e0bd4-7659-4db0-871f-3a9463a47a70",
            "responseTemplatePatterns" : {
              "responseTemplatePattern" : [ {
                "name" : "73489de3-d40b-4c97-93a1-5032ea85dafd",
                "textPrompt" : "YES",
                "voicePrompt" : "1",
                "spokenVoicePrompt" : "to select YES",
                "pattern" : "startswith",
                "colour" : "#00947d"
              } ]
            },
            "link" : [ {
              "uri" : "https://api.whispir.com/responserules/C30B96FB1F56E6D7?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/responserules/C30B96FB1F56E6D7?apikey=V4L1D4P1K3Y",
              "rel" : "updateResponseRule",
              "method" : "PUT",
              "type" : "application/vnd.whispir.responserule-v1+xml,application/vnd.whispir.responserule-v1+json"
            }, {
              "uri" : "https://api.whispir.com/responserules/C30B96FB1F56E6D7?apikey=V4L1D4P1K3Y",
              "rel" : "deleteResponseRule",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        Location:
          - https://api.whispir.com/responserules/C30B96FB1F56E6D7?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/responserules/C30B96FB1F56E6D7?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "C30B96FB1F56E6D7",
            "name" : "b435f44b-8e3e-4e7c-b323-cef3b0ca02cc",
            "description" : "522e0bd4-7659-4db0-87[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/responserules/C30B96FB1F56E6D7?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 204
        message: No Content
version: 1
