interactions:
  - request:
      body: |-
        {"name": "eb1cc890-7e72-4d7c-91bd-120e2d78b5bb", "description": "2e794389-62e7-4c15-8eed-fd74a1a67e6d", "responseTemplatePatterns": {"responseTemplatePattern": [{"name": "78e63857-612b-4ad5-b332-40d093b52445", "textPrompt": "YES", "voicePrompt": "1", "spokenVoicePrompt": "to select YES", "pattern": "startswith", "colour": "#00947d"}]}}
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "B994D7534AD1E22B",
            "name" : "eb1cc890-7e72-4d7c-91bd-120e2d78b5bb",
            "description" : "2e794389-62e7-4c15-8eed-fd74a1a67e6d",
            "responseTemplatePatterns" : {
              "responseTemplatePattern" : [ {
                "name" : "78e63857-612b-4ad5-b332-40d093b52445",
                "textPrompt" : "YES",
                "voicePrompt" : "1",
                "spokenVoicePrompt" : "to select YES",
                "pattern" : "startswith",
                "colour" : "#00947d"
              } ]
            },
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/B994D7534AD1E22B?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/B994D7534AD1E22B?apikey=V4L1D4P1K3Y",
              "rel" : "updateResponseRule",
              "method" : "PUT",
              "type" : "application/vnd.whispir.responserule-v1+xml,application/vnd.whispir.responserule-v1+json"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/B994D7534AD1E22B?apikey=V4L1D4P1K3Y",
              "rel" : "deleteResponseRule",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        Location:
          - https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/B994D7534AD1E22B?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/B994D7534AD1E22B?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-30.mashery.com
      status:
        code: 204
        message: No Content
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/B994D7534AD1E22B?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "errorSummary" : "The resource that you have requested does not exist. Please check the identifier and try again ",
            "errorText" : "Not Found",
            "link" : [ ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 404
        message: Not Found
version: 1
