interactions:
  - request:
      body: |-
        {"name": "be378e94-fdf7-42a5-90d6-0ff9cb5eeff9", "description": "fdd3ced6-ca5f-4fb0-ac84-4d939b2985b9", "responseTemplatePatterns": {"responseTemplatePattern": [{"name": "52c9d8b5-a832-4dc9-89f4-c7328c39ca0e", "textPrompt": "YES", "voicePrompt": "1", "spokenVoicePrompt": "to select YES", "pattern": "startswith", "colour": "#00947d"}]}}
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "5BF990CCD4DAE3F9",
            "name" : "be378e94-fdf7-42a5-90d6-0ff9cb5eeff9",
            "description" : "fdd3ced6-ca5f-4fb0-ac84-4d939b2985b9",
            "responseTemplatePatterns" : {
              "responseTemplatePattern" : [ {
                "name" : "52c9d8b5-a832-4dc9-89f4-c7328c39ca0e",
                "textPrompt" : "YES",
                "voicePrompt" : "1",
                "spokenVoicePrompt" : "to select YES",
                "pattern" : "startswith",
                "colour" : "#00947d"
              } ]
            },
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/5BF990CCD4DAE3F9?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/5BF990CCD4DAE3F9?apikey=V4L1D4P1K3Y",
              "rel" : "updateResponseRule",
              "method" : "PUT",
              "type" : "application/vnd.whispir.responserule-v1+xml,application/vnd.whispir.responserule-v1+json"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/5BF990CCD4DAE3F9?apikey=V4L1D4P1K3Y",
              "rel" : "deleteResponseRule",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        Location:
          - https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/5BF990CCD4DAE3F9?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-30.mashery.com
      status:
        code: 201
        message: Created
  - request:
      body: |-
        {"name": "be378e94-fdf7-42a5-90d6-0ff9cb5eeff9 updated", "description": "fdd3ced6-ca5f-4fb0-ac84-4d939b2985b9 updated", "responseTemplatePatterns": {"responseTemplatePattern": [{"name": "52c9d8b5-a832-4dc9-89f4-c7328c39ca0e", "textPrompt": "YES", "voicePrompt": "1", "spokenVoicePrompt": "to select YES", "pattern": "startswith", "colour": "#00947d"}]}}
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: PUT
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/5BF990CCD4DAE3F9?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 204
        message: No Content
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/5BF990CCD4DAE3F9?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 204
        message: No Content
version: 1
