interactions:
  - request:
      body: |-
        {"name": "2a445d31-3250-435e-a3f4-f595c2d05908", "description": "2b83e921-3b33-4d97-af33-5a0c1f95260f", "responseTemplatePatterns": {"responseTemplatePattern": [{"name": "92c0de43-9d04-4e05-b96b-cac71e9488e5", "textPrompt": "YES", "voicePrompt": "1", "spokenVoicePrompt": "to select YES", "pattern": "startswith", "colour": "#00947d"}]}}
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: POST
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/responserules
    response:
      body:
        string: |-
          {
            "id" : "C00ED42836F60770",
            "name" : "2a445d31-3250-435e-a3f4-f595c2d05908",
            "description" : "2b83e921-3b33-4d97-af33-5a0c1f95260f",
            "responseTemplatePatterns" : {
              "responseTemplatePattern" : [ {
                "name" : "92c0de43-9d04-4e05-b96b-cac71e9488e5",
                "textPrompt" : "YES",
                "voicePrompt" : "1",
                "spokenVoicePrompt" : "to select YES",
                "pattern" : "startswith",
                "colour" : "#00947d"
              } ]
            },
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/C00ED42836F60770",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/C00ED42836F60770",
              "rel" : "updateResponseRule",
              "method" : "PUT",
              "type" : "application/vnd.whispir.responserule-v1+xml,application/vnd.whispir.responserule-v1+json"
            }, {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/C00ED42836F60770",
              "rel" : "deleteResponseRule",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        Location:
          - https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/C00ED42836F60770
        x-amz-apigw-id:
          - LnzKmHXpSK4FarA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '438'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:10:56 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - a058b6f7-9fdc-11e8-a7fb-17b7998cbdb3
      status:
        code: 201
        message: Created
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/responserules
    response:
      body:
        string: |-
          {
            "responseRules" : [ {
              "id" : "5181A93C8AA21FAB",
              "name" : "4ba30a1e-638d-4507-9ee2-22dacdbe591d",
              "description" : "d3cafb05-f237-4af6-82a2-8432a1802526",
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/5181A93C8AA21FAB",
                "rel" : "self",
                "method" : "GET"
              }, {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/responserules/5181A93C8[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: DELETE
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/responserules/5181A93C8AA21FAB
    response:
      body:
        string: ''
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - LnzKzEocyK4FnOg=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:10:57 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - a11e5029-9fdc-11e8-9bf6-75a3d4c8a2b0
      status:
        code: 204
        message: No Content
[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: DELETE
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/responserules/C00ED42836F60770
    response:
      body:
        string: ''
      headers:
        Content-Type:
          - application/json
        x-amz-apigw-id:
          - LnzK5GrRyK4FUdQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:10:58 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - a178f3fc-9fdc-11e8-9dcd-c16f4438198d
      status:
        code: 204
        message: No Content
version: 1
