interactions:
  - request:
      body: |-
        {"name": "2e2bb4ce-6a79-4ded-84c5-b09c1b256204", "description": "8168ab62-c34a-47f3-9538-b60d1351d729", "responseTemplatePatterns": {"responseTemplatePattern": [{"name": "20dad506-ff53-4cdb-b044-0dce53c2bf4f", "textPrompt": "YES", "voicePrompt": "1", "spokenVoicePrompt": "to select YES", "pattern": "startswith", "colour": "#00947d"}]}}
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: POST
      uri: https://api.whispir.com/responserules?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "id" : "13C8D2066C40AC68",
            "name" : "2e2bb4ce-6a79-4ded-84c5-b09c1b256204",
            "description" : "8168ab62-c34a-47f3-9538-b60d1351d729",
            "responseTemplatePatterns" : {
              "responseTemplatePattern" : [ {
                "name" : "20dad506-ff53-4cdb-b044-0dce53c2bf4f",
                "textPrompt" : "YES",
                "voicePrompt" : "1",
                "spokenVoicePrompt" : "to select YES",
                "pattern" : "startswith",
                "colour" : "#00947d"
              } ]
            },
            "link" : [ {
              "uri" : "https://api.whispir.com/responserules/13C8D2066C40AC68?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/responserules/13C8D2066C40AC68?apikey=V4L1D4P1K3Y",
              "rel" : "updateResponseRule",
              "method" : "PUT",
              "type" : "application/vnd.whispir.responserule-v1+xml,application/vnd.whispir.responserule-v1+json"
            }, {
              "uri" : "https://api.whispir.com/responserules/13C8D2066C40AC68?apikey=V4L1D4P1K3Y",
              "rel" : "deleteResponseRule",
              "method" : "DELETE"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        Location:
          - https://api.whispir.com/responserules/13C8D2066C40AC68?apikey=V4L1D4P1K3Y
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: DELETE
      uri: https://api.whispir.com/responserules/13C8D2066C40AC68?apikey=V4L1D4P1K3Y
    response:
      body:
        string: ''
      headers:
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 204
        message: No Content
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/responserules/13C8D2066C40AC68?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "errorSummary" : "The resource that you have requested does not exist. Please check the identifier and try again ",
            "errorText" : "Not Found",
            "link" : [ ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.responserule-v1+json
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-30.mashery.com
      status:
        code: 404
        message: Not Found
version: 1
