interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.message-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/messages?limit=20&offset=0
    response:
      body:
        string: |-
          {
            "messages" : [ {
              "subject" : "whispyr test",
              "repetitionCount" : 0,
              "repeatDays" : 0,
              "repeatHrs" : 0,
              "repeatMin" : 0,
              "from" : "Grigory Starinkin",
              "direction" : "OUTGOING",
              "responseCount" : "0",
              "createdTime" : 1534263029000,
              "link" : [ {
                "uri" : "https://api.whispir.com/messages/4E659C17F290583C?limit=20&offset=0",
                "rel" : "self",
                "method" : "GET"
              } ]
            } ],
            "status" : "",
            "link" : [ ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.message-v1+json
        x-amz-apigw-id:
          - LnzGyFa8SK4Fsog=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '291'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:10:32 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 91c49162-9fdc-11e8-8014-37224ddb08dc
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.message-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/messages/4E659C17F290583C
    response:
      body:
        string: |-
          {
            "to" : "success@simulator.amazonses.com",
            "subject" : "whispyr test",
            "body" : "test message, please disregard",
            "label" : "",
            "type" : "default",
            "repetitionCount" : 0,
            "dlr" : {
              "period" : "",
              "rule" : "",
              "type" : "",
              "publishToWeb" : false,
              "expiryDay" : 0,
              "expiryHour" : 0,
              "expiryMin" : 0,
              "feedIds" : "",
              "bool" : false
            },
            "repeatDays" : 0,
            "repeatHrs" : 0,
            "repeatMin" : 0,
            "voice" : { },
            "from" : "U53RN4M3@User.us.whispir.com",
            "direction" : "OUTGOING",
            "responseCount" : "0",
            "social" : {
              "social" : [ {
                "id" : "social"
              }, {
                "id" : "social_long"
              } ]
            },
            "createdTime" : 1534263029000,
            "link" : [ {
              "uri" : "https://api.whispir.com/messages/4E659C17F290583C",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/messages/4E659C17F290583C/messagestatus?view=summary",
              "rel" : "summaryStatus",
              "method" : "GET"
        [...]
