interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.messagestatus-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/8080DE5434485ED4/messages/E9A5630CECBC7EB7/messagestatus?apikey=V4L1D4P1K3Y&limit=20&offset=0
    response:
      body:
        string: |-
          {
            "messageStatuses" : [ {
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4/messages/E9A5630CECBC7EB7/messagestatus?limit=20&offset=0&apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ],
              "categories" : [ {
                "name" : "Sent",
                "recipientCount" : 0,
                "percentageTotal" : "NaN%"
              }, {
                "name" : "Pending",
                "recipientCount" : 0,
                "percentageTotal" : "NaN%"
              }, {
                "name" : "Received",
                "recipientCount" : 0,
                "percentageTotal" : "NaN%"
              }, {
                "name" : "Acknowledged",
                "recipientCount" : 0,
                "percentageTotal" : "NaN%"
              }, {
                "name" : "Undeliverable",
                "recipientCount" : 0,
                "percentageTotal" : "NaN%"
              } ]
            } ],
            "link" : [ ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.messagestatus-v1+json
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-30.mashery.com
      status:
        code: 200
        message: OK
version: 1
