interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.message-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/messages?apikey=V4L1D4P1K3Y&limit=20&offset=0
    response:
      body:
        string: |-
          {
            "messages" : [ {
              "subject" : "whispyr test",
              "repetitionCount" : 0,
              "repeatDays" : 0,
              "repeatHrs" : 0,
              "repeatMin" : 0,
              "from" : "Grigory Starinkin",
              "direction" : "OUTGOING",
              "responseCount" : "0",
              "createdTime" : 1521805697000,
              "link" : [ {
                "uri" : "https://api.whispir.com/messages/CB604B25F9F69CE0?limit=20&offset=0&apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
              "subject" : "whispyr test",
              "repetitionCount" : 0,
              "repeatDays" : 0,
              "repeatHrs" : 0,
              "repeatMin" : 0,
              "from" : "Grigory Starinkin",
              "direction" : "OUTGOING",
              "responseCount" : "0",
              "createdTime" : 1521805695000,
              "link" : [ {
                "uri" : "https://api.whispir.com/messages[...]
