interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.messagestatus-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/messages/09CD9065116DF39F/messagestatus?limit=0
    response:
      body:
        string: |-
          {
            "messageStatuses" : [ {
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages/09CD9065116DF39F/messagestatus?limit=0",
                "rel" : "self",
                "method" : "GET"
              } ],
              "categories" : [ {
                "name" : "Sent",
                "recipientCount" : 0,
                "percentageTotal" : "0.0%"
              }, {
                "name" : "Pending",
                "recipientCount" : 0,
                "percentageTotal" : "0.0%"
              }, {
                "name" : "Received",
                "recipientCount" : 0,
                "percentageTotal" : "0.0%"
              }, {
                "name" : "Acknowledged",
                "recipientCount" : 1,
                "percentageTotal" : "100.0%"
              }, {
                "name" : "Undeliverable",
                "recipientCount" : 0,
                "percentageTotal" : "0.0%"
              } ]
            } ],
            "link" : [ ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.messagestatus-v1+json
        x-amz-apigw-id:
          - LnzG9F-pyK4FXWQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '297'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:10:33 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 92725cf2-9fdc-11e8-8f46-454f03fc0589
      status:
        code: 200
        message: OK
version: 1
