interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.messageresponse-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages/09CD9065116DF39F/messageresponses?apikey=V4L1D4P1K3Y&limit=20&offset=0
    response:
      body:
        string: |-
          {
            "messageresponses" : [ {
              "percentageTotal" : "100%",
              "responseCount" : "1",
              "link" : [ ],
              "type" : "notmatched"
            } ],
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages/09CD9065116DF39F/messageresponses?limit=20&offset=0&apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            } ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.messageresponse-v1+json
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-32.mashery.com
      status:
        code: 200
        message: OK
version: 1
