interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.message-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages?apikey=V4L1D4P1K3Y&limit=20&offset=0
    response:
      body:
        string: |-
          {
            "messages" : [ {
              "subject" : "whispyr test",
              "repetitionCount" : 0,
              "repeatDays" : 0,
              "repeatHrs" : 0,
              "repeatMin" : 0,
              "from" : "Grigory Starinkin",
              "direction" : "OUTGOING",
              "responseCount" : "0",
              "createdTime" : 1522191823000,
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages/99BA2511ADEB0ED9?limit=20&offset=0&apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
              "subject" : "whispyr test",
              "repetitionCount" : 0,
              "repeatDays" : 0,
              "repeatHrs" : 0,
              "repeatMin" : 0,
              "from" : "Grigory Starinkin",
              "direction" : "OUTGOING",
              "responseCount" : "0",
              "createdTime" : 1522191819000,
              "link" : [ {
                "uri" : "https://api.whispir.com/workspac[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.message-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages?apikey=V4L1D4P1K3Y&limit=20&offset=20
    response:
      body:
        string: |-
          {
            "status" : "No records found",
            "link" : [ ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.message-v1+json
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2b-33.mashery.com
      status:
        code: 200
        message: OK
version: 1
