interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.message-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/messages?apikey=V4L1D4P1K3Y&limit=20&offset=0
    response:
      body:
        string: |-
          {
            "messages" : [ {
              "subject" : "whispyr test",
              "repetitionCount" : 0,
              "repeatDays" : 0,
              "repeatHrs" : 0,
              "repeatMin" : 0,
              "from" : "Grigory Starinkin",
              "direction" : "OUTGOING",
              "responseCount" : "0",
              "createdTime" : 1521916638000,
              "link" : [ {
                "uri" : "https://api.whispir.com/messages/E8BE61AFD0651EE2?limit=20&offset=0&apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
              "subject" : "whispyr test",
              "repetitionCount" : 0,
              "repeatDays" : 0,
              "repeatHrs" : 0,
              "repeatMin" : 0,
              "from" : "Grigory Starinkin",
              "direction" : "OUTGOING",
              "responseCount" : "0",
              "createdTime" : 1521910823000,
              "link" : [ {
                "uri" : "https://api.whispir.com/messages[...]
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.message-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/messages/E8BE61AFD0651EE2?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "to" : "success@simulator.amazonses.com",
            "subject" : "whispyr test",
            "body" : "test message, please disregard",
            "label" : "",
            "type" : "default",
            "repetitionCount" : 0,
            "dlr" : {
              "period" : "",
              "rule" : "",
              "type" : "",
              "publishToWeb" : false,
              "expiryDay" : 0,
              "expiryHour" : 0,
              "expiryMin" : 0,
              "feedIds" : "",
              "bool" : false
            },
            "repeatDays" : 0,
            "repeatHrs" : 0,
            "repeatMin" : 0,
            "voice" : { },
            "from" : "U53RN4M3@User.us.whispir.com",
            "direction" : "OUTGOING",
            "responseCount" : "0",
            "social" : {
              "social" : [ {
                "id" : "social"
              }, {
                "id" : "social_long"
              } ]
            },
            "createdTime" : 1521916638000,
            "link" : [ {
              "uri" : "https://api.whispir.com/messages/E8BE61AFD0651EE2?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/messages/E8BE61AFD0651EE2/messagestatus?apikey=V4L1D4P1K3Y&view=summary",
              "rel" : "summaryStatus",
 [...]
