interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.messagestatus-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages/09CD9065116DF39F/messagestatus?apikey=V4L1D4P1K3Y&limit=0
    response:
      body:
        string: |-
          {
            "messageStatuses" : [ {
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages/09CD9065116DF39F/messagestatus?limit=0&apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ],
              "categories" : [ {
                "name" : "Sent",
                "recipientCount" : 0,
                "percentageTotal" : "0.0%"
              }, {
                "name" : "Pending",
                "recipientCount" : 0,
                "percentageTotal" : "0.0%"
              }, {
                "name" : "Received",
                "recipientCount" : 0,
                "percentageTotal" : "0.0%"
              }, {
                "name" : "Acknowledged",
                "recipientCount" : 1,
                "percentageTotal" : "100.0%"
              }, {
                "name" : "Undeliverable",
                "recipientCount" : 0,
                "percentageTotal" : "0.0%"
              } ]
            } ],
            "link" : [ ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.messagestatus-v1+json
        X-Mashery-Responder:
          - prod-j-worker-tlsv1-ap-southeast-2a-01.mashery.com
      status:
        code: 200
        message: OK
version: 1
