interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.messagestatus-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/messages/64271CF61AE5F786/messagestatus?apikey=V4L1D4P1K3Y&limit=0&view=detailed
    response:
      body:
        string: |-
          {
            "messageStatuses" : [ {
              "name" : "success+0@simulator.amazonses.com",
              "info" : " Email message sent OK. ",
              "link" : [ {
                "uri" : "https://api.whispir.com/messages/64271CF61AE5F786/messagestatus?view=detailed&limit=0&apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ],
              "status" : [ {
                "type" : "email",
                "status" : "SENT",
                "destination" : "success+0@simulator.amazonses.com",
                "sentTimestamp" : 1533314579000
              }, {
                "type" : "sms",
                "status" : "",
                "destination" : ""
              }, {
                "type" : "voice",
                "status" : "",
                "destination" : ""
              } ]
            }, {
              "name" : "success+100@simulator.amazonses.com",
              "info" : " Email message sent OK. ",
              "link" : [ {
                "uri" : "https://api.whispir.com/messages/64271CF61AE5F786[...]
