interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.message-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/8080DE5434485ED4/messages/E9A5630CECBC7EB7?apikey=V4L1D4P1K3Y
    response:
      body:
        string: |-
          {
            "to" : "success@simulator.amazonses.com",
            "subject" : "test",
            "body" : "test",
            "label" : "",
            "type" : "default",
            "repetitionCount" : 0,
            "dlr" : {
              "period" : "",
              "rule" : "",
              "type" : "",
              "publishToWeb" : false,
              "expiryDay" : 0,
              "expiryHour" : 0,
              "expiryMin" : 0,
              "feedIds" : "",
              "bool" : false
            },
            "repeatDays" : 0,
            "repeatHrs" : 0,
            "repeatMin" : 0,
            "voice" : { },
            "from" : "U53RN4M3@User.us.whispir.com",
            "direction" : "OUTGOING",
            "responseCount" : "0",
            "social" : {
              "social" : [ {
                "id" : "social"
              }, {
                "id" : "social_long"
              } ]
            },
            "createdTime" : 1521790904000,
            "link" : [ {
              "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4/messages/E9A5630CECBC7EB7?apikey=V4L1D4P1K3Y",
              "rel" : "self",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4/messages/E9A5630CECBC7EB7/messagestatus?apikey=V4L1D4P1K3Y&view=summary",
              "rel" : "summaryStatus",
              "method" : "GET"
            }, {
              "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4/messages/E9A5630CECBC7EB7/messagestatus?apikey=V4L1D4P1K3Y&view=detailed",
              "rel" : "detailedStatus",
              "me[...]
