interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.message-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/8080DE5434485ED4/messages?apikey=V4L1D4P1K3Y&limit=20&offset=0
    response:
      body:
        string: |-
          {
            "messages" : [ {
              "subject" : "whispyr test",
              "repetitionCount" : 0,
              "repeatDays" : 0,
              "repeatHrs" : 0,
              "repeatMin" : 0,
              "from" : "Grigory Starinkin",
              "direction" : "OUTGOING",
              "responseCount" : "0",
              "createdTime" : 1521805692000,
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4/messages/9339B9B907A8D569?limit=20&offset=0&apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
              "subject" : "whispyr test",
              "repetitionCount" : 0,
              "repeatDays" : 0,
              "repeatHrs" : 0,
              "repeatMin" : 0,
              "from" : "Grigory Starinkin",
              "direction" : "OUTGOING",
              "responseCount" : "0",
              "createdTime" : 1521805467000,
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4/messages/49301F2192E06EB9?limit=20&offset=0&apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
              "subject" : "whispyr test",
              "repetitionCount" : 0,
              "repeatDays" : 0,
              "repeatHrs" : 0,
              "repeatMin" : 0,
              "from" : "Grigory Starinkin",
              "direction" : "OUTGOING",
              "responseCount" : "0",
              "createdTime" : 1521804965000,
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4/messages/A9E3C8AA69EB0E56?limit=20&offset=0&apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
              "subject" : "<script>alert('hi')</script>",
              "repetitionCount" : 0,
              "repeatDays" : 0,
              "repeatHrs" : 0,
              "repeatMin" : 0,
              "from" : "Grigory Starinkin",
              "direction" : "OUTGOING",
              "responseCount" : "1",
              "createdTime" : 1521793515000,
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4/messages/9F148597C9CB1B2F?limit=20&offset=0&apikey=V4L1D4P1K3Y",
           [...]
