interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.message-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/messages?limit=20&offset=0
    response:
      body:
        string: |-
          {
            "messages" : [ {
              "subject" : "whispyr test",
              "repetitionCount" : 0,
              "repeatDays" : 0,
              "repeatHrs" : 0,
              "repeatMin" : 0,
              "from" : "Grigory Starinkin",
              "direction" : "OUTGOING",
              "responseCount" : "0",
              "createdTime" : 1534263029000,
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages/F8D6BC6646BF32B2?limit=20&offset=0",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, {
              "subject" : "whispyr test",
              "repetitionCount" : 0,
              "repeatDays" : 0,
              "repeatHrs" : 0,
              "repeatMin" : 0,
              "from" : "Grigory Starinkin",
              "direction" : "OUTGOING",
              "responseCount" : "0",
              "createdTime" : 1534263028000,
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/B6302F7C7B9A8982/messages/92529CCDC80ADA72?limit=20&offset=0",
                "rel" : "self",
                "method" : "GET"
              } ]
            } ],
            "status" : "",
            "link" : [ ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.message-v1+json
        x-amz-apigw-id:
          - LnzH5HaZSK4FfXQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '341'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:10:39 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 9603c0fd-9fdc-11e8-83f5-d968b0a9ef20
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.message-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/workspaces/B6302F7C7B9A8982/messages?limit=20&offset=20
    response:
      body:
        string: |-
          {
            "status" : "No records found",
            "link" : [ ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.message-v1+json
        x-amz-apigw-id:
          - LnzH7EG-yK4FqRQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Content-Length:
          - '73'
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:10:39 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - 9626b27b-9fdc-11e8-b861-5974471a9def
      status:
        code: 200
        message: OK
version: 1
