interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.messagestatus-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
      method: GET
      uri: https://api.whispir.com/workspaces/8080DE5434485ED4/messages/9F148597C9CB1B2F/messagestatus?apikey=V4L1D4P1K3Y&limit=20&offset=0&view=detailed
    response:
      body:
        string: |-
          {
            "messageStatuses" : [ {
              "name" : "447472934522",
              "info" : "  SMS message sent. SMSCODE=008 SMS message received by device. SMSCODE=001 ",
              "link" : [ {
                "uri" : "https://api.whispir.com/workspaces/8080DE5434485ED4/messages/9F148597C9CB1B2F/messagestatus?view=detailed&limit=20&offset=0&apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ],
              "status" : [ {
                "type" : "email",
                "status" : "",
                "destination" : ""
              }, {
                "type" : "sms",
                "status" : "READ",
                "destination" : "447472934522",
                "sentTimestamp" : 1521793516000,
                "receivedTimestamp" : 1521793520000,
                "acknowlegedTimestamp" : 1521793607000
              }, {
                "type" : "voice",
                "status" : "",
                "destination" : ""
              } ]
            } ],
            "status" : "1 to 1 of 1    ",
            "link" : [ ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.messagestatus-v1+json
        X-Mashery-Responder:
          - prod-j-worker-ap-southeast-2a-30.mashery.com
      status:
        code: 200
        message: OK
version: 1
